.nav {
  &__left {
    .logo {
      margin-right: 1em;
    }
  }
}

// Drop down navigation

// closed Tree
.linkTree {
  position: relative;

  .dropDown {
    // hide
    display: none;
    // box
    position: absolute;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 5px 5px 15px #00000021;
    padding: 1em;
    width: 140px;

    // position
    left: initial;
    right: 0;
    top: 40px;

    li {
      display: flex;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 0.35em;

      img {
        width: 12px;
        // height: 15px;
      }
    }
  }
}

.linkTree_ {
  position: relative;

  .dropDown_ {
    // hide
    display: none;
    // box
    position: absolute;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 5px 5px 15px #00000021;
    padding: 1em;

    // position

    top: 40px;
    width: 120px;

    li {
      margin-bottom: 0.35em;
    }
  }
}
// open Tree
.treeDown {
  display: block !important;
}
.arrow.up {
  background-image: url(../../images/icon-arrow-up.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
.arrow {
  background-image: url(../../images/icon-arrow-down.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}

// Mobile Menu
.nav__right {
  &__mobile {
    display: none;
    @include breakpoints-down(small) {
      position: absolute;
      background-color: white;
      width: 60%;
      height: 100vh;
      z-index: 1;

      // background
      box-shadow: -250px 0 200px rgb(0 0 0 / 56%);

      left: initial;
      right: 0;
      top: 0;
    }

    &.open {
      display: block;
    }
  }
}
