@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

$ff-primary: "Epilogue", sans-serif;

$fw-500: 500;
$fw-700: 700;

$fs-para: 18px;

// Colors
.light-theme {
  // neutral
  --neu-bg: hsl(0, 0%, 98%);
  --neu-light: hsl(0, 0%, 41%);
  --neu-main: hsl(0, 0%, 8%);
}
.blue-theme {
  // neutral
  --neu-bg: hsl(0, 0%, 98%);
  --neu-light: hsl(0, 0%, 41%);
  --neu-main: hsl(0, 0%, 8%);
}
.yellow-theme {
  // neutral
  --neu-bg: hsl(0, 0%, 98%);
  --neu-light: hsl(0, 0%, 41%);
  --neu-main: hsl(0, 0%, 8%);
}
.purple-theme {
  // neutral
  --neu-bg: hsl(0, 0%, 98%);
  --neu-light: hsl(0, 0%, 41%);
  --neu-main: hsl(0, 0%, 8%);
}
