body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin-inline: auto;
  font-family: monospace;
  text-align: center;
}

.section {
  text-align: center;
  font-family: monospace;
  font-size: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.section_div {
  border: 1px dashed black;
  padding: 0.5em 2em;
  background-color: black;
  color: yellow;
  box-shadow: 8px 8px 0px yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  flex: 0;
}
.section_div-2 {
  border: 1px dashed yellow;
  padding: 0.5em 2em;
  background-color: purple;
  color: yellow;
  box-shadow: 8px 8px 0px rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  flex: 0;
}

svg {
  width: 85px;
  cursor: pointer;
}

span {
  color: white;
  font-weight: normal;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}

button {
  margin-bottom: 1em;
  font-size: 10px;
  border: none;
  padding: 1em 2em;
  gap: 1em;
  color: black;
  font-weight: bold;
  cursor: pointer;
  background-color: yellow;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: black;
  color: yellow;
}

p {
  border: 2px double yellow;
  padding: 1em;
  box-shadow: 8px 8px 0px black;
}

.red {
  background-color: red;
  box-shadow: 5px 5px 0px black;
  transition: all 0.2s ease-in-out;
}

.red:hover {
  background-color: yellow;
  color: black;
}

h5 {
  padding: 1em;
  width: 45%;
}
@media (max-width: 40em) {
  h5 {
    width: 80%;
  }
}

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.h1 {
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.hello {
  font-size: 14px;
}

.yt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.circle-plus {
  fill: green;
}
.circle-plus2 {
  fill: purple;
}
