@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
li,
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main-box {
  max-width: 1440px;
}

body {
  height: 100vh;
  background-image: url(../../images/bg-intro-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  background-color: hsl(0deg, 100%, 74%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 39em) {
  body {
    background-image: url(../../images/bg-intro-mobile.png);
  }
}

.main {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
@media (max-width: 39em) {
  .main {
    flex-direction: column;
    text-align: center;
  }
}
.main__article {
  padding: 0.5em;
  margin: 1em;
  max-width: 475px;
  align-self: center;
}
@media (max-width: 39em) {
  .main__article {
    margin-top: 5em;
  }
}
.main__article h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 0.75em;
}
@media (max-width: 39em) {
  .main__article h1 {
    font-size: 24px;
  }
}
.main__article p {
  font-weight: 500;
  font-size: 15px;
}
@media (max-width: 39em) {
  .main__article p {
    font-size: 14px;
  }
}
.main__section {
  margin: 1em;
  border-radius: 0.5em;
}
@media (min-width: 40em) {
  .main__section {
    width: 500px;
    max-width: calc(100% - 20px);
  }
}
.main__section__top {
  border-radius: 0.5em;
  padding: 1em;
  background-color: hsl(248deg, 32%, 49%);
  margin-bottom: 1em;
  text-align: center;
  box-shadow: 0px 5px 1px rgba(53, 52, 52, 0.273);
}
.main__section__bottom {
  border-radius: 0.5em;
  padding: 0.5em;
  margin-bottom: 0.75em;
  color: hsl(249deg, 10%, 26%);
  text-align: center;
}
.main__section__form {
  background-color: white;
  padding: 1.5em 2em;
  border-radius: 0.5em;
  box-shadow: 0px 5px 1px rgba(53, 52, 52, 0.273);
}
@media (min-width: 40em) {
  .main__section__form {
    padding: 2em;
  }
}
.main__section__form div:not(:last-child) {
  margin: 1em 0;
}
.main__section__form div input {
  width: 100%;
  padding: 1.1em 2em;
  border-radius: 0.5em;
  border: 1px solid rgb(212, 212, 212);
}
.main__section__form div input:focus {
  border: 1px solid hsl(246deg, 25%, 77%);
  outline: none;
}
.main__section__form div input::-moz-placeholder {
  font-weight: 600;
}
.main__section__form div input:-ms-input-placeholder {
  font-weight: 600;
}
.main__section__form div input::placeholder {
  font-weight: 600;
}
.main__section__form__btn {
  padding: 1.1em;
  border-radius: 0.5em;
  background-color: hsl(154deg, 59%, 51%);
  color: white;
  font-weight: 600;
  width: 100%;
  border: none;
  border-bottom: 3px solid rgba(0, 128, 0, 0.498);
}

.top__txt {
  font-size: 14px;
}
.top__txt span {
  font-weight: 400;
}

.bottom__txt {
  font-size: 8px;
  font-weight: 400;
  opacity: 0.75;
}
.bottom__txt span {
  opacity: 1;
  color: red;
  font-weight: 700;
  font-size: 9px;
}/*# sourceMappingURL=style.css.map */