// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// utilities

// General styles
body {
  // font-size: $fs-para;
  font-size: 1.125rem;
  font-family: $ff-ubuntu;
}

.max-width-wrapper {
  max-width: 800px;
  margin-inline: auto;
}

header {
  padding: 50px 0 25px 0;
}

main {
  background-color: rgb(182, 194, 197);
  padding-block: 50px;
  border-top: 7px solid hsl(0, 0, 45%);
}

.title {
  padding: 10px;
  overflow-wrap: break-word;
  font-size: 1.4em;
}

h1 {
  margin-bottom: 0.5em;
}

.intro-chunk {
  margin-top: 5em;
}

.intro-chunk strong,
span,
a {
  text-decoration: none;
  color: deeppink;
}
.intro-chunk p {
  font-size: 0.85em;
  max-width: 480px;
  padding: 10px;
}
.card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 7px 0px hsl(0, 0%, 45%);
  padding-top: 10px;
  position: relative;
}
.card p {
  font-weight: 300;
  font-size: 1em;
}

.card em {
  font-weight: 500;
}
.indented-heading {
  width: fit-content;
  padding: 21px 25px;
  font-size: $fw-ub-700;
  background-color: hsl(45, 100%, 50%);
  // box-shadow: 0px 7px 0px hsl(40, 80%, 45%);
  border-bottom: 3px solid hsl(40, 80%, 45%);
  margin-left: -40px;
  position: relative;
  z-index: 9999;
  top: -46px;
  border-radius: 37px 0 0 37px;
}
.indented-heading_ {
  font-size: 1rem;
  padding: 5px 7px;
  font-size: $fw-ub-700;
  background-color: hsl(45, 100%, 50%);
  box-shadow: 0px 7px 0px hsl(40, 80%, 45%);
  position: absolute;
  bottom: 0;
  top: -326px;
  left: 677px;
  right: 0;
  overflow-wrap: break-word;
  z-index: 3;

  @media (max-width: 805px) {
    position: static;
  }
}

.card p {
  padding: 20px;
}

p {
  line-height: 1.4;
  overflow-wrap: break-word;
}

.block {
  position: relative;

  margin: 5em 2em;
  padding: 10px;
  border: 5px solid hsl(0, 0%, 45%);
  z-index: 3;
}

.circle_ {
  border: 5px solid hsl(0, 0%, 45%);
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: hsl(0, 0%, 100%);

  position: absolute;
  top: -35px;
  right: initial;
  left: -35px;
  z-index: 3;
}
.circle__ {
  border: 5px solid hsl(0, 0%, 45%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 45%);
  position: absolute;
  top: -35px;
  right: initial;
  left: 75px;
  z-index: 3;
}
.circle___ {
  border: 5px solid hsl(0, 0%, 45%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 45%);
  position: absolute;
  top: 75px;
  left: -27px;
  z-index: 3;
}

//  Tool tip

.tooltip-parent {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tooltip-child {
  display: none;
  // top: -40px;
  position: absolute;
  text-align: center;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 0.85rem;
  width: 117px;
  padding: 5px !important;
  // left: inherit;
  // right: -25px;
}

.tooltip-parent:hover .tooltip-child {
  display: block;
}
a {
  display: inline-block;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}

.jc-sb {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 1.5em;
}

.navbar {
  background-color: rgb(136, 168, 168);

  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;

  h1 {
    margin: 0;
  }
}

// Flex

.wrapper {
  background-color: rgb(197, 197, 197);
  max-width: 350px;
  width: 100%;
  border-radius: 5px;

  margin: 2em auto;

  display: flex;
  flex-direction: column;
  gap: 1em;
  box-shadow: 5px 10px 12px hsl(0, 0, 45%, 0.35);

  p {
    color: deeppink;
  }

  .body {
    padding: 25px;
  }
  .actions {
    padding: 25px;
    background-color: rgba(31, 135, 135, 0.455);

    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0 0 5px 5px;

    justify-content: flex-start;
    gap: 1em;
    .btn {
      max-width: 100px;
      width: 50%;
      padding: 10px;
    }
  }
}
