.header {
  border-radius: 0px 0px 0px 75px;
  max-height: 100vh;
  height: 80%;
  color: var(--crl-text);
  isolation: isolate;

  background: var(--pattern), var(--c-gradient-header);
  background-repeat: no-repeat;
  background-position: calc(50% + 410px) -68rem, center;
  background-size: 2700px, auto;

  @include breakpoints-down(medium) {
    background: var(--pattern-mobile), var(--c-gradient-header);
    height: 90%;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 4em;
    margin: 0 auto;
    max-width: 80%;
    padding: 75px 0;

    &__logo {
    }
    &__nav {
      justify-content: space-between;
      flex: 1;
      position: relative;

      ul {
        a {
          // text
          font-size: 0.9rem;
          color: var(--crl-text);

          //   interaction
          cursor: pointer;
          transition: all 0.3s ease-in;
          &:hover,
          &:active {
            color: var(--crl-heading);
            font-weight: $fw-ub-700;
          }
          &:focus {
            color: var(--crl-heading);
            font-weight: $fw-ub-700;

            outline: none;
            border-bottom: 2px solid var(--crl-heading);
          }
        }
      }

      @include breakpoints-down(medium) {
        background-color: var(--crl-text);
        border-radius: 8px 0 0 8px;
        padding: 55px 0;

        position: absolute;
        top: 128px;
        // left: 0;
        right: 8px;
        max-width: min(355px, 90%);
        width: 100%;
        flex-direction: column;

        nav {
          width: 80%;

          border-bottom: 1px solid var(--crl-text-sh);

          ul {
            text-align: center;
            padding-bottom: 32px;
            margin-inline: auto;
          }
        }

        ul {
          flex-direction: column;
        }

        ul a {
          color: var(--crl-heading);
        }
      }
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 0.25em;
      font-family: $ff-ubuntu;

      .btn:last-child {
        width: 115px;
        color: var(--cta-text);
        background-color: var(--crl-text);
        box-shadow: 5px 5px 15px #00000036;

        &:hover,
        &:active {
          color: var(--crl-text);
          background-color: var(--cta-hover);
        }
        &:focus {
          color: var(--crl-text);
          background-color: var(--cta-hover);
          outline: none;
          border-bottom: 2px solid var(--cta-text);
        }
      }
      .btn:first-child {
        color: var(--crl-text);
        background-color: transparent;
        box-shadow: 5px 5px 15px #00000036;

        &:hover,
        &:active {
          color: var(--crl-text);
          outline: none;

          border-bottom: 2px solid var(--crl-text);
        }
        &:focus {
          color: var(--crl-text);

          outline: none;
          border-bottom: 2px solid var(--crl-text);
        }
      }

      @include breakpoints-down(medium) {
        flex-direction: column;
        width: 55%;
        .btn {
          &:first-child {
            color: var(--crl-heading);

            background-color: transparent;
            box-shadow: 5px 5px 15px #00000036;
            width: 100%;

            &:hover,
            &:active {
              color: var(--crl-text);
              outline: none;

              border-bottom: 2px solid var(--crl-text);
            }
            &:focus {
              color: var(--crl-text);

              outline: none;
              border-bottom: 2px solid var(--crl-text);
            }
          }

          &:last-child {
            width: 100%;
            color: var(--crl-text);
            // background-color: var(--crl-text);
            background: var(--c-gradient-header);
            box-shadow: 5px 5px 15px #00000036;

            &:hover,
            &:active {
              color: var(--crl-text);
              background-color: var(--cta-hover);
            }
            &:focus {
              color: var(--crl-text);
              background-color: var(--cta-hover);
              outline: none;
              border-bottom: 2px solid var(--cta-text);
            }
          }
        }
      }
    }
  }

  &__intro {
    text-align: center;

    &__article {
      h1 {
        font-size: 3.85rem;
        letter-spacing: -3px;
        line-height: 1;

        overflow-wrap: break-word;
      }

      p {
        font-size: 1.25rem;
        margin-bottom: 24px;
        max-width: 70%;
        text-align: center;
        margin-inline: auto;
      }
    }

    &__buttons {
      font-family: $ff-ubuntu;
      padding: 1em;
      // display
      display: flex;
      justify-content: center;
      gap: 0.75em;
      flex-wrap: wrap;
      .cta {
        width: 130px;

        &:last-child {
          border: 1px solid var(--crl-text);
          background-color: transparent;
          box-shadow: 5px 5px 15px #00000036;

          &:hover,
          &:active {
            color: var(--cta-text);

            background-color: var(--crl-text);
          }
          &:focus {
            color: var(--cta-text);
            background-color: var(--crl-text);
            outline: none;
            border-bottom: 2px solid var(--crl-text-sh);
          }
        }
        &:first-child {
          color: var(--cta-text);
          background-color: var(--crl-text);
          box-shadow: 5px 5px 15px #00000036;

          &:hover,
          &:active {
            color: var(--crl-text);
            background-color: var(--cta-hover);
          }
          &:focus {
            color: var(--crl-text);
            background-color: var(--cta-hover);

            outline: none;
            border-bottom: 2px solid var(--cta-text);
          }
        }
      }
    }
  }
}

//  Arrows
.arrow.opened {
  background-image: url(../../images/icon-arrow-light.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 3px;
  rotate: 180deg;

  //   size
  width: 10px;
  height: 10px;

  @include breakpoints-down(medium) {
    background-image: url(../../images/icon-arrow-dark.svg);
  }
}
.arrow {
  background-image: url(../../images/icon-arrow-light.svg);

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 3px;
  //   size
  width: 10px;
  height: 10px;

  @include breakpoints-down(medium) {
    background-image: url(../../images/icon-arrow-dark.svg);
  }
}

//  Drop Down

.drop-down {
  // position
  position: absolute;
  top: 55px;
  // box style
  background-color: var(--crl-text);
  padding: 1em 3em 1em 1.5em;
  border-radius: 0.5em;
  box-shadow: 5px 5px 15px #00000036;
  width: 0;
  visibility: hidden;
  height: calc(125px + 3.5rem);

  opacity: 0;
  translate: -15% 0;
  transition: all 0.5s ease;
  ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    transition: all 0.3s ease;
  }

  ul a {
    font-family: $ff-overpass;
    font-weight: $fw-ov-300;
    color: var(--crl-heading);
  }

  @include breakpoints-down(medium) {
    position: revert;
    padding: 1em;
    text-align: center;
    width: 100%;
    height: 0px;
    padding: 0px;
  }
}

//  dropDown closed
.drop {
  visibility: visible;
  opacity: 1;
  max-width: 350px;
  max-height: fit-content;
  height: calc(125px + 3.5rem);
  width: 150px;
  translate: 0%;
  @include breakpoints-down(medium) {
    visibility: visible;
    opacity: 1;
    translate: 0%;
    height: 100%;
    padding: 1em;
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: 200%;
  }
}

//  Hamburger
.inactive {
  @include breakpoints-down(medium) {
    visibility: hidden;
  }
}

.inactive.negate {
  @include breakpoints-down(medium) {
    visibility: visible;
  }
}
