@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;0,700;0,900;1,900&display=swap");

@keyframes slide-up {
  0% {
    opacity: 0.15;
    transform: translateY(-200%);
  }
  25% {
    opacity: 0.25;
    transform: translateY(-50%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-25%);
  }
  60% {
    opacity: 0.65;
    transform: translateY(-15%);
  }
  70% {
    opacity: 1;
    transform: translateY(0%);
  }
  80% {
    opacity: 1;
    transform: translateY(5%);
  }
  100% {
    opacity: 1;
    transform: translateY(10%);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0.15;
    transform: translateX(-200%);
  }
  25% {
    opacity: 0.25;
    transform: translateX(-50%);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-25%);
  }
  60% {
    opacity: 0.6;
    transform: translateX(-15%);
  }
  70% {
    opacity: 0.7;
    transform: translateX(-5%);
  }

  100% {
    opacity: 1;
    transform: translateX(6%);
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(228, 228, 228);
  margin: 0;

  @media (max-width: 768px) {
    text-align: center;
  }
}
.header,
.footer {
  font-weight: 900;
  font-style: italic;
  color: rgb(0, 0, 0);

  background-color: #333;
  color: white;

  p {
    padding: 0.75em;
    // animation: slide-down 6s linear;
  }
  h1 {
    text-shadow: 0px 2px 0px red, 0px 4px 0px yellow, 0px 6px 0px green;
    // animation: slide-down 4s linear;
  }
}

.wrapper {
  max-width: 40rem;
  margin-inline: auto;
  padding-block: 2em;
  & > * {
    width: auto;
  }
  padding: 1em;
}

.main {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    // animation: slide-down 4s linear;
  }
}

.even-columns {
  display: grid;
  //   display: flex;
  gap: 1em;
  padding: 0.25em;
  @media (max-width: 40em) {
    flex-direction: column;
  }
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 3em 0;

  & > * {
    outline: 1px solid rgba(128, 128, 128, 0.207);
    border-radius: 0.5em;
    box-shadow: 15px 20px 15px rgba(158, 158, 158, 0.304);
    padding: 1em;
    // flex: 1;
  }

  & > * {
    background-color: lavender;
    padding: 1.5em;
  }
}

.card {
  // animation: slide-down 6s linear;

  p {
    // animation: slide-down 6s linear;
  }
}

@keyframes loop {
  0% {
    transform: translateX(5px);
    rotate: 180deg;
  }
  10% {
    transform: translateX(50px);
  }
  20% {
    transform: translateX(100px);
    rotate: -100deg;
  }
  30% {
    transform: translateX(150px);
  }
  40% {
    transform: translateX(200px);
  }
  50% {
    rotate: 100deg;

    transform: translateX(225px);
  }
  60% {
    transform: translateX(250px);
  }
  70% {
    rotate: -100deg;
    transform: translateX(300px);
  }
  80% {
    transform: translateX(350px);
  }
  90% {
    transform: translateX(400px);
  }
  100% {
    transform: translateX(538px);
    rotate: 0deg;
  }
}

.slide {
  margin: 10em;
  // display: inline-block;
  display: flex;
  justify-content: center;
  input {
    // opacity: 0;
    // position: absolute;
    display: none;

    &:checked + label .ball {
      width: 38px;
      height: 18px;
      transform: translateX(538px);
      animation: loop 2s infinite alternate;
      border-radius: 50% 0 50% 0;
    }
  }

  label {
    cursor: pointer;
    position: relative;
    outline: 2px solid red;
    border-radius: 50px;
    background-color: lightblue;
    width: 555px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25em;
    i {
      margin: 0 2px;
      scale: 1;
      color: currentColor;

      &:last-of-type {
        color: red;
      }
      &:first-of-type {
        color: red;
      }
    }
    .ball {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      outline: 2px solid red;
      background-color: white;
      // transition: transform 2s linear;
    }
  }
}
