.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  &-container {
  }

  .grid-items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include breakpoints-up(medium) {
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(4, 260px);
      grid-template-areas:
        "one two three four"
        "one five six seven";
    }
    .card {
      padding: 20px;
      outline: 2px dashed white;
      &:nth-child(1) {
        grid-area: one;
      }
    }
  }
}
