// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// utilities
.container {
  max-width: 1440px;
  margin-inline: auto;
}

.box {
  margin: 4em 1em;
  max-width: 1100px;
  @include breakpoints-down(large) {
    margin: 4em 3em;
  }

  @include breakpoints-down(small) {
    margin: 3em 1.5em;
  }
}
// Typography
.xbold {
  font-weight: $fw-800;
}
.bold {
  font-weight: $fw-700;
}
.regular {
  font-weight: $fw-700;
}

// Cta
.cta {
  border: none;
  padding: 1em 2em;
  background-color: var(--s-red);
}

//  Display Types
.flex {
  display: flex;

  &-col {
    flex-direction: column;
    gap: 1em;
  }
  &-row {
    flex-direction: row;
    gap: 1em;
  }
  &-rw-sb {
    align-items: center;
    justify-content: space-between;
  }
}

//  General
body {
  background-color: var(--neu-o-w);
  font-family: $ff-primary;
  font-size: $fs-para;
}
