@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

$ff-primary: "Manrope", sans-serif;

$fw-500: 500;
$fw-700: 700;

$fs-body: 13px;

// Colors
$crl-100: hsl(217, 19%, 35%);
$crl-200: hsl(214, 17%, 51%);
$crl-300: hsl(212, 23%, 69%);
$crl-400: hsl(210, 46%, 95%);
