@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,500;1,200;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,900&display=swap");

$ff-100: "Josefin Sans", sans-serif;
$ff-100: "Poppins", sans-serif;
$ff-system: system-ui;

$crl-100: #8fa78b;
$crl-200: #0b0b0b;

$crl-300: #cfea8f;
$crl-400: #212675;

$fs-head: 24px;
$fw-head: 900;

$fs-big: 64px;
$fw-big: 900;

$fs-header: 15px;
$fw-header: 700;

$fs-body: 14px;
$fw-body: 400;

// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $ff-system;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

// utilities
.theme1 {
  color: $crl-100;
  background-color: $crl-200;

  .input {
    border: 1px solid $crl-100;
    color: $crl-100;

    &::placeholder {
      color: $crl-100;
    }
  }

  button {
    border: 1px solid $crl-100;
    background-color: inherit;
    color: inherit;
    &:hover {
      background-color: $crl-100;
      color: $crl-200;
    }
  }
}
.theme2 {
  color: $crl-200;
  background-color: $crl-100;

  .input {
    border: 1px solid $crl-200;
    color: $crl-200;
    &::placeholder {
      color: $crl-200;
    }
  }

  button {
    border: 1px solid $crl-200;
    background-color: inherit;
    color: inherit;
    &:hover {
      background-color: $crl-200;
      color: $crl-100;
    }
  }
}
.theme3 {
  color: $crl-400;
  background-color: $crl-300;

  .input {
    border: 1px solid $crl-400;
    color: $crl-400;
    &::placeholder {
      color: $crl-400;
    }
  }

  button {
    border: 1px solid $crl-400;
    background-color: inherit;
    color: inherit;
    &:hover {
      background-color: $crl-400;
      color: $crl-300;
    }
  }
}
.theme4 {
  color: $crl-300;
  background-color: $crl-400;

  .input {
    border: 1px solid $crl-300;
    color: $crl-300;

    &::placeholder {
      color: $crl-300;
    }
  }

  button {
    border: 1px solid $crl-300;
    background-color: inherit;
    color: inherit;
    &:hover {
      background-color: $crl-300;
      color: $crl-400;
    }
  }
}

h1 {
  font-size: $fs-header;
  font-weight: $fw-header;
}
h2 {
  margin-top: 1em;
  font-size: $fs-big;
  font-weight: $fw-big;
  line-height: 1;
}
h3 {
  font-size: $fs-head;
  font-weight: $fw-head;
}

p {
  font-size: $fs-body;
  font-weight: $fw-body;
}

.input {
  min-width: 100%;
  width: 100%;
  padding: 0.7em;
  background-color: inherit;
  outline: none;
  font-size: $fs-header;
  font-weight: $fw-header;
  color: currentColor;
  border: 1px solid currentColor;
}
button {
  font-size: $fs-header;
  font-weight: $fw-header;
  cursor: pointer;
  padding: 0.5em 2em;
  margin-bottom: 0.5em;
  outline: none;
  border: 1px solid currentColor;
}
.container {
  max-width: 1440px;
  margin-inline: auto;
}
.line {
  background-color: currentcolor;
  padding: 0px;
  height: 4px;
  border: 0px none;
  display: block;
  color: inherit;
}
.lineplus {
  margin-bottom: 1em;
  padding: 0px;
  aspect-ratio: 6 / 1;
  border: 0px none;
  display: block;
  color: inherit;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    rgba(230, 0, 0, 0) 8px,
    currentcolor 8px,
    currentcolor 10px
  );
}

.blockquote {
  border-left: 4px solid;
  margin-left: 2em;
  padding-left: 32px;
  width: 100%;
  line-height: 1.2;
  margin-bottom: 1em;

  &__title {
    margin-bottom: 0.25em;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}

// General
.box {
  margin: 1em;
  padding: 1em;
  max-width: 700px;
  margin-inline: auto;
}

.todo {
  margin-top: 1em;

  &___search {
    margin: 0.5em 0;
  }

  &__add {
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 1em;
    gap: 1em;
    div {
      min-width: 70%;
      width: 100%;

      .inputAdd {
        padding: 0.7em;
      }
    }

    button {
      width: 30%;
      padding: 0.7em;
    }
  }
  &__items {
    margin: 0.5em 0;
    &__ul {
      display: flex;
      gap: 0.5em;
      flex-wrap: wrap;
      li {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0.5em;

        width: 100%;
        border: 1px solid currentcolor;
        margin-bottom: 0.25em;
        padding: 0.5em;

        p {
          width: 100%;
          align-self: center;
          margin-right: auto;
        }
      }
    }
  }
}

.remove {
  background-color: rgb(211, 51, 51);
  max-width: min-content;
  padding: 0.01em 0.5em;
  border-radius: 0.25em;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid currentColor;

  &:hover {
    background-color: white;
    border: 2px solid red;
    color: red;
  }
}

.done {
  background-color: green;
  max-width: min-content;
  padding: 0.01em 0.5em;
  border-radius: 0.25em;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid currentColor;

  &:hover {
    background-color: white;
    border: 2px solid green;
    color: green;
  }
}

.para {
  font-weight: bold;
  opacity: 0.7;
  padding: 0 0.7em;
}
