.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin-block: 25px;
  justify-content: center;
  isolation: isolate;
  gap: 90px;
  &__title {
    position: relative;
    text-align: center;
    z-index: 2;
    h1 {
      color: var(--txt-cta-bg);
      font-size: calc(1.25rem + 1vw);
      margin-bottom: 7px;
    }

    p {
      font-size: calc(0.55rem + 0.6vw);
      color: var(--text);
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      background-image: url(../../images/pattern-circles.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 250px;
      height: 250px;
      top: -100px;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
    }
  }

  &__card {
    background-color: white;
    box-shadow: 5px 5px 30px rgba(47, 47, 47, 0.134);
    max-width: calc(520px + 7.5vw);
    max-height: calc(380px + 6.5vh);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 40px;
  }
}
