/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
li,
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main-container {
  margin-inline: auto;
  max-width: 1440px;
  max-height: 2335px;
}
@media (max-width: 39.9375em) {
  .main-container {
    max-width: 750px;
    max-height: 5668px;
  }
}

.container {
  padding: 3em 4em;
}
@media (max-width: 39.9375em) {
  .container {
    padding: 2em 2em;
  }
}
.container__x {
  padding: 0 4em;
}
@media (max-width: 39.9375em) {
  .container__x {
    padding: 2em 1.5em;
  }
}
.container__y {
  padding: 3em 0;
}
@media (min-width: 40em) {
  .container__y {
    padding: 0 0;
  }
}

.container-all {
  padding: 3em 4em;
}
@media (max-width: 39.9375em) {
  .container-all {
    padding: 1em 0.5em;
  }
}

a,
li {
  text-decoration: none;
  color: hsl(243deg, 87%, 12%);
}

.button {
  cursor: pointer;
  opacity: 1;
  min-width: 178.5px;
  font-family: "Raleway ", sans-serif;
  font-weight: 700;
  color: white;
  border-radius: 0.3em;
  border: none;
  background-color: hsl(224deg, 93%, 58%);
  padding: 1em;
}
.button:hover {
  opacity: 0.75;
}

hr {
  border: none;
}

.header {
  font-family: " Open Sans", sans-serif;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
@media (max-width: 350px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 39.9375em) {
  .header__logo img {
    width: 100px;
  }
}
.header__nav-links {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
}
@media (max-width: 39.9375em) {
  .header__nav-links {
    font-size: 13px;
    gap: 1.5em;
  }
}

.hero {
  margin-bottom: 8em;
}
@media (min-width: 64em) {
  .hero {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.hero__figure {
  margin-bottom: 2em;
}
@media (min-width: 40em) {
  .hero__figure {
    order: 2;
    width: 120%;
    max-width: 740px;
  }
}
.hero__content {
  width: 100%;
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  font-family: " Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 64em) {
  .hero__content {
    padding-right: 0.5em;
    text-align: left;
  }
}
@media (min-width: 40em) {
  .hero__content {
    padding-right: 0.5em;
    justify-content: center;
  }
}
.hero__content__head {
  color: hsl(243deg, 87%, 12%);
  font-family: "Raleway ", sans-serif;
  font-size: 25px;
}
@media (min-width: 40em) {
  .hero__content__head {
    font-size: 35px;
  }
}
.hero__content__para {
  color: hsl(243deg, 87%, 12%);
}
@media (min-width: 40em) {
  .hero__content__para {
    font-size: 18px;
  }
}
.hero__content__input {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
@media (min-width: 39.9375em) {
  .hero__content__input {
    justify-content: center;
  }
}
@media (min-width: 40em) {
  .hero__content__input {
    flex-direction: row;
    justify-content: center;
  }
}
@media (min-width: 64em) {
  .hero__content__input {
    flex-direction: row;
    justify-content: left;
  }
}
.hero__content__input__email {
  border: 1px solid gray;
  border-radius: 0.3em;
  padding: 0.9em;
}
.hero__content__input__email::-moz-placeholder {
  opacity: 0.5;
}
.hero__content__input__email:-ms-input-placeholder {
  opacity: 0.5;
}
.hero__content__input__email::placeholder {
  opacity: 0.5;
}
.hero__content__input__email:focus {
  border: 1px solid white;
  outline: 1px solid hsl(224deg, 93%, 58%);
}
@media (min-width: 40em) {
  .hero__content__input__email {
    width: 300px;
  }
}
.hero__content__input__button {
  color: white;
  border-radius: 0.3em;
  border: none;
  background-color: hsl(224deg, 93%, 58%);
  padding: 1em;
  font-weight: 700;
}
@media (min-width: 40em) {
  .hero__content__input__button {
    padding: 1em 4em;
  }
}

.main {
  margin-bottom: 1em;
}
.main .main-container {
  display: flex;
  background-color: hsl(240deg, 75%, 98%);
  color: hsl(243deg, 87%, 12%);
}
@media (max-width: 63.9375em) {
  .main .main-container {
    flex-direction: column;
    align-items: center;
  }
}
.main::before {
  content: "";
  width: 100%;
  height: 100px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../images/bg-curve-desktop.svg);
}
@media (max-width: 39.9375em) {
  .main::before {
    background-image: url(../images/bg-curve-mobile.svg);
    height: 35px;
    width: 100%;
  }
}
.main__article {
  font-family: " Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
@media (max-width: 63.9375em) {
  .main__article {
    order: 2;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 39.9375em) {
  .main__article {
    order: 2;
    align-items: flex-start;
    text-align: left;
  }
}
.main__article__heading {
  font-family: "Raleway ", sans-serif;
  font-size: 35px;
}
@media (max-width: 39.9375em) {
  .main__article__heading {
    font-size: 20px;
  }
}
.main__article__para {
  font-size: 15px;
  margin-bottom: 1em;
}
@media (min-width: 64em) {
  .main__article__para {
    padding-right: 10em;
  }
}
.main__article__link {
  max-width: 162px;
  margin-bottom: 2em;
}
@media (max-width: 39.9375em) {
  .main__article__link {
    align-self: center;
  }
}
.main__article__link__text {
  color: hsl(170deg, 45%, 43%);
  border-bottom: 1px solid hsl(170deg, 45%, 43%);
  display: flex;
  gap: 0.5em;
  font-size: 15px;
  align-items: center;
}
.main__article__link__text__icon {
  width: 20px;
  height: 20px;
}
.main__article__testimonial {
  border: 1px solid rgba(205, 205, 205, 0.512);
  background-color: white;
  border-radius: 0.5em;
  padding: 2em 2em;
  box-shadow: 0 2em 3em rgba(139, 139, 139, 0.265);
  text-align: left;
}
@media (min-width: 40em) {
  .main__article__testimonial {
    width: 50%;
  }
}
.main__article__testimonial__content {
  font-family: " Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.75;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 12px;
}
.main__article__testimonial__content::before {
  content: "";
  background-image: url(../images/icon-quotes.svg);
  display: block;
  height: 10px;
  background-position: left top;
  background-repeat: no-repeat;
}
.main__article__testimonial__content__poster {
  display: flex;
  line-height: 1.2;
  gap: 0.5em;
  align-items: center;
}
.main__article__testimonial__content__poster img {
  width: 30px;
  border-radius: 50%;
}
.main__article__testimonial__content__poster .detail__name {
  font-size: 10px;
  font-family: "Raleway ", sans-serif;
  font-weight: 700;
}
.main__article__testimonial__content__poster .detail__stat {
  font-size: 9px;
}
.main__figure {
  margin-bottom: 2em;
}
@media (min-width: 40em) {
  .main__figure {
    order: 2;
    width: 100%;
    max-width: 614px;
  }
}

.second-main {
  color: white;
  background-color: hsl(238deg, 22%, 44%);
  font-family: " Open Sans", sans-serif;
}
.second-main .second-main-container {
  display: flex;
  flex-direction: column;
  justify-content: last baseline;
  gap: 2em;
}
@media (min-width: 40em) {
  .second-main .second-main-container {
    flex-direction: row;
  }
}
.second-main__article {
  text-align: center;
}
@media (min-width: 40em) {
  .second-main__article {
    text-align: left;
  }
}
.second-main__article__heading {
  font-size: 20px;
  margin-bottom: 0.5em;
}
@media (min-width: 40em) {
  .second-main__article__heading {
    font-size: 25px;
  }
}
.second-main__article__para {
  width: 50%;
  margin-bottom: 1em;
  font-size: 15px;
}
@media (max-width: 63.9375em) {
  .second-main__article__para {
    width: 100%;
  }
}
@media (max-width: 39.9375em) {
  .second-main__input {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
}
.second-main__input__email {
  width: 100%;
  border: 1px solid gray;
  border-radius: 0.2em;
  padding: 1em;
  margin-bottom: 0.5em;
}
@media (max-width: 39.9375em) {
  .second-main__input__email {
    width: 250px;
  }
}
.second-main__input__email::-moz-placeholder {
  opacity: 0.5;
}
.second-main__input__email:-ms-input-placeholder {
  opacity: 0.5;
}
.second-main__input__email::placeholder {
  opacity: 0.5;
}
.second-main__input__email:focus {
  border: 1px solid white;
  outline: 1px solid hsl(224deg, 93%, 58%);
}
.second-main__input__button {
  border-radius: 0.2em;
}

.footer {
  background-color: hsl(243deg, 87%, 12%);
  font-family: " Open Sans", sans-serif;
  color: white;
  font-size: 14px;
}
.footer__figure {
  display: block;
}
@media (min-width: 40em) {
  .footer__figure {
    margin-bottom: 2em;
  }
}
@media (min-width: 40em) {
  .footer__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.footer__left p {
  align-items: center;
}
.footer__left p img {
  width: 18px;
  height: 15px;
}
.footer__left__phone {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}
.footer__left__email {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}
.footer__middle {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}
@media (min-width: 40em) {
  .footer__middle {
    margin-top: 0em;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    gap: 10em;
  }
}
.footer__middle ul li:not(:first-child) {
  margin: 0.5em 0;
}
.footer__middle ul li a {
  text-decoration: none;
  color: white;
}
.footer__right {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
}
.footer__right .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid white;
  border-radius: 50%;
  fill: white;
  padding: 0.4em;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.footer__right .icon:hover {
  border: 1.5px solid hsl(224deg, 93%, 58%);
  fill: hsl(224deg, 93%, 58%);
}/*# sourceMappingURL=style.css.map */