// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// utilities
.main-container {
  padding: 0 75px;
  max-width: 1440px;
  margin-inline: auto;

  @include breakpoints-down(medium) {
    padding: 0 20px;
  }
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
}
.flex-row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

/* Visibility */
.hide_for_desktop {
  @include breakpoints-up(large) {
    display: none;
  }
}

.hide_for_mobile {
  @include breakpoints-down(medium) {
    display: none;
  }
}

.overflow-y-hidden {
  overflow-y: hidden;
}

// General styles
body {
  background-color: var(--crl-main-bg);
  color: var(--neu-w);
  font-family: $ff-pri;
}
