@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --crl-primar-100: hsl(185, 75%, 39%);
  --crl-primar-400: hsl(185, 82%, 57%);

  --crl-primar-200: hsl(229, 23%, 23%);
  --crl-primar-300: hsl(227, 10%, 46%);
}
// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: var(--crl-primar-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  .card {
    border-radius: 0.5em;
    width: 320px;

    background-color: white;

    hr {
      border: 0.5px solid rgb(212, 212, 212);
    }
    .top-plus::before {
      width: 100%;
      padding: 5em;
      background-image: url(./images/bg-pattern-top.svg);
      border-radius: 0.5em 0.5em 0 0;
      background-repeat: repeat;
      background-size: 25px;
    }
    .top-plus::before {
      content: "";
      background-color: var(--crl-primar-400);
      width: 100%;
      height: 100%;
      display: block;
    }

    .top {
      padding: 1em;
      text-align: center;

      img {
        border-radius: 50%;
        padding: 1px;
        border: 1px solid white;
        position: relative;
        top: -4em;
        margin-inline: auto;
      }

      .user {
        display: flex;
        gap: 1em;
        align-items: center;
        justify-content: center;

        .age {
          font-weight: 400;
          opacity: 0.5;
        }
      }
    }

    .bottom {
      ul {
        text-align: center;
        font-weight: 700;
        display: flex;
        gap: 2em;
        padding: 1em 2em;
        justify-content: center;

        .type {
          font-size: 13px;
          font-weight: 500;
          opacity: 0.5;
        }
      }
    }
  }
}
