.header {
  display: flex;
  flex-direction: row;
  @include breakpoint-down(xsmall) {
    flex-direction: column;
    gap: 2em;
  }
  &__figure {
    width: 210px;

    @include breakpoint-down(medium) {
      width: 185px;
    }
    @include breakpoint-down(small) {
      width: 115px;
    }
    @include breakpoint-down(xsmall) {
      width: 185px;
    }
  }

  &__button {
    font-size: 16px;
    border: 1px solid $crl-pink;
    padding: 0.6em 2em;
    background-color: white;
    font-family: $ff-body;

    color: $crl-pink;
    border-radius: 5em;
    @include breakpoint-down(medium) {
      font-size: 14px;
    }
    @include breakpoint-down(small) {
      padding: 0.5em 1.85em;
      font-size: 12px;
    }
  }
}
