@import url("https://fonts.googleapis.com/css?family=Unica+One|Vollkorn");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@700;800;900&display=swap");
$ff-ss: "Unica One";
$ff-s: "Vollkorn";
$ff-primary: "Lexend Deca", sans-serif;

$clr-red: #c31;
$clr-black: rgba(black, 1);
$clr-gray: rgba(black, 0.7);

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1;
  color: $clr-gray;
  color: $clr-black;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

nav {
  border: 1px dashed limegreen;
}
ul {
  border: 1px dashed orange;
}

li {
  list-style: none;
  border: 1px dashed red;
  text-transform: uppercase;
  font-family: $ff-ss;
  font-weight: 600;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
}

.nav-links {
  padding: 1em;
  margin: 0.5em;
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.links {
  flex-grow: 0;
}

.card_title {
  font-family: $ff-primary;
  font-weight: bold;
}

.columns {
  border: 1px dashed orange;
  display: flex;
  border: 5px solid rebeccapurple;
  gap: 1rem;
  margin: 1em;
}

.columns > * {
  background-color: rgba(46, 190, 46, 0.747);
  padding: 1em;
  border-radius: 0.3em;

  p {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media (max-width: 767px) {
  body {
    text-align: center;
  }
  .columns {
    // border: 5px solid pink;
    border: none;
    flex-direction: column;
  }
  .columns > * {
    color: white;
    background-color: rgba(0, 0, 0, 0.611);
  }
}

.container {
  margin-inline: auto;
  max-width: 1440px;
  text-align: center;
}

.parent {
  background-color: lightblue;
  position: sticky;
  top: 0;
  bottom: 450px;
}

.child {
  background-color: lightsalmon;
}
div {
  padding: 20px; // 15px 25px;
  font-size: 1.5rem;
  border-radius: 10px;
  // overflow: hidden;
  margin: 0;
  min-height: 150px;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: 3px;
  //text-transform: uppercase;
  font-weight: normal;
}

.FlexBox {
  font-family: $ff-primary;
  color: $clr-red;
  font-weight: 900;
  text-shadow: 3px 3px 1px black;
  font-size: 50px;
  margin-top: 3em;
}

.FlexBox {
  position: relative;
  display: inline-block;

  &::before,
  &::after {
    content: "";
    height: 100%;
    display: block;
    position: absolute;
  }

  &::before {
    background-color: white;
    left: -20px;
    right: -20px;
    height: 105%;
    z-index: -1;
    @media (max-width: 50em) {
      left: 30px;
      right: 30px;
    }
  }

  &::after {
    height: 100%;
    background-color: $clr-red;
    width: 100vw;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: -2;
  }
}

.box {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.card {
  position: relative;
  margin: 1em;
  border-radius: 0;
  background: $clr-gray;
  cursor: pointer;
  padding: 0;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    // background-color: rgba(255, 192, 203, 0.185);
    transition: transform ease-in 250ms;
  }

  &:after {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0, 1);
  }

  &:before {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1, 0);
  }

  &:hover::before {
    transform: scale(1, 1.05);
  }

  &:hover::after {
    transform: scale(1.05, 1);
  }

  &__img {
    max-width: 100%;
    display: block;
    transition: opacity ease-out 250ms;
    opacity: 1;
  }

  &__text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  &__title {
    text-transform: uppercase;
  }
  &__body {
    margin: 0;
    width: max-content;
  }
}
.card:hover .card__text {
  opacity: 1;
}
.card:hover .card__img {
  opacity: 0.5;
}
