@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;0,500;1,200;1,300;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,900&display=swap");

@keyframes mov {
  to {
    background-position: 1600vh;
  }
}

// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  text-decoration: none;
}

//  Utilities
.container {
  max-width: 1440px;
  margin-inline: auto;
  padding: 0.5em 2em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

// General
body {
  min-height: 100vh;
  background: white;
  font-family: "Josefin Sans";
  padding: 5vw;
}

h1,
p {
  overflow-wrap: break-word;
  hyphens: auto;
}

.image-wrapper {
  margin-bottom: 10px;
  img {
    width: 100%;
  }
}
.article-summary {
  flex: 1;
  border: 3px solid black;
  box-shadow: 5px 5px 0px rgb(200, 200, 200);
  padding: 20px;
  max-width: 300px;
  .description {
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    hyphens: auto;

    .title {
      overflow-wrap: break-word;
      margin-bottom: 10px;
    }
  }
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  padding: 14px;
}
