// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//  Utilities
.main-box {
  max-width: 1440px;
  margin-inline: auto;
}

// General
body {
  background: linear-gradient(135deg, rgb(136, 255, 0), yellow);
  font-family: monospace;
  //   display: grid;
  //   place-items: center;
  display: flex;
  align-items: center;
}

.main {
  .card {
    background-color: white;
    margin: 1em;
    border-radius: 0.5em;

    max-width: 450px;

    box-shadow: 2.75em 2.75em 3em -3em rgb(62 62 62 / 53%);
  }
}

.title {
  color: white;
  background-color: black;
  text-align: end;
  padding: 0.25em;
  border-radius: 0.5em 0.5em 0 0;

  h1 {
    padding: 0.1em;
    outline: 1px dashed white;
    font-style: italic;
  }
}

.para {
  padding: 2em;
}
