// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// utilities

// width's for different sections
.container-main {
  max-width: 1440px;
  margin-inline: auto;
}

.container-header,
.container-hero {
  max-width: 1100px;
  margin-inline: auto;
}

// links
a {
  text-decoration: none;
  color: inherit;
}

// Hamburger Menu
.hamburger {
  // position
  position: absolute;
  z-index: 2;
  top: 61px;
  left: initial;
  right: 25px;
  // display
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  cursor: pointer;
  .line {
    width: 25px;
    height: 4px;
    background-color: var(--crl-text);
    transition: 0.4s;
  }
  .line:first-child {
    width: 15px;
  }
  .line:nth-child(2) {
    width: 20px;
  }

  &.change {
    .line:first-child {
      width: 25px;
      transform: translate(0, 8px) rotate(-45deg);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:last-child {
      transform: translate(0, -8px) rotate(45deg);
    }
  }
}

// Visibility
.hidden-mobile {
  @include breakpoints-down(medium) {
    display: none !important;
  }
}
.hidden-desktop {
  @include breakpoints-up(large) {
    display: none;
  }
}

// buttons
button {
  padding: 0.85em;
  border: none;
  border-radius: 2em;
  font-family: inherit;
  font-weight: $fw-ub-700;
  font-size: 0.95rem;
  color: var(--crl-text);

  //   interaction
  cursor: pointer;
  transition: all 0.2s ease-in;
}

// General styles
body {
  font-size: $fs-para;
  background-color: var(--crl-text);
}
