.header {
  padding: 3em 1.5em;
  font-family: $ff-ubuntu;

  .drop-down {
    display: none;
    position: absolute;
    color: var(--crl-f-bg);
  }

  .drop-down.tree-down {
    display: block !important;

    // text
    font-family: $ff-overpass;
    font-weight: $fw-ov-300;
    // box style
    padding: 1em 3em 1em 1.5em;
    border-radius: 0.5em;
    box-shadow: 5px 5px 15px #00000036;
    background-color: var(--crl-text);

    @include breakpoints-up(lmedium) {
      right: initial;
      top: 35px;
      // text
      font-family: $ff-overpass;
      font-weight: $fw-ov-300;
      // box style
      padding: 1em 3em 1em 1.5em;
      border-radius: 0.5em;
      box-shadow: 5px 5px 15px #00000036;
      background-color: var(--crl-text);

      li {
        width: 95px;
        margin-bottom: 0.3em;
      }
    }

    // interaction
    a {
      color: var(--crl-heading);
      &:hover,
      &:active {
        font-weight: $fw-ov-600;
      }
      &:focus {
        font-weight: $fw-ov-600;
        outline: none;
        border-bottom: 2px solid var(--crl-heading);
      }
    }
  }
  &__left {
    gap: 3em;
    align-self: flex-start;
    &__logo {
      display: flex;
      align-items: center;
    }
    &__navbar {
      position: relative;

      .links {
        gap: 2em;

        a {
          // text
          font-size: 0.9rem;
          color: var(--crl-text);

          //   interaction
          cursor: pointer;
          transition: all 0.3s ease-in;
          &:hover,
          &:active {
            color: var(--crl-heading);
          }
          &:focus {
            color: var(--crl-heading);

            outline: none;
            border-bottom: 2px solid var(--crl-heading);
          }
        }
      }
    }
    &__navmobile {
      text-align: center;
    }
  }
  &__right {
    &__buttons {
      display: flex;
      flex-direction: row;
      gap: 0.25em;

      .btn:last-child {
        width: 115px;
        color: var(--cta-text);
        background-color: var(--crl-text);
        box-shadow: 5px 5px 15px #00000036;

        &:hover,
        &:active {
          color: var(--crl-text);
          background-color: var(--cta-hover);
        }
        &:focus {
          color: var(--crl-text);
          background-color: var(--cta-hover);
          outline: none;
          border-bottom: 2px solid var(--cta-text);
        }
      }
      .btn:first-child {
        color: var(--crl-text);
        background-color: transparent;
        box-shadow: 5px 5px 15px #00000036;

        &:hover,
        &:active {
          color: var(--crl-text);
          outline: none;

          border-bottom: 2px solid var(--crl-text);
        }
        &:focus {
          color: var(--crl-text);

          outline: none;
          border-bottom: 2px solid var(--crl-text);
        }
      }
    }
  }
}

//  Arrows
.arrow.opened {
  background-image: url(../../images/icon-arrow-light.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 3px;
  rotate: 180deg;

  //   size
  width: 10px;
  height: 10px;

  @include breakpoints-down(lmedium) {
    background-image: url(../../images/icon-arrow-dark.svg);
  }
}
.arrow {
  background-image: url(../../images/icon-arrow-light.svg);

  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 3px;
  //   size
  width: 10px;
  height: 10px;

  @include breakpoints-down(lmedium) {
    background-image: url(../../images/icon-arrow-dark.svg);
  }
}

//  Display
.h-flex {
  display: flex;
  flex-direction: row;
  align-items: center;

  &--col {
    justify-content: space-between;
  }

  @include breakpoints-down(lmedium) {
    flex-direction: column;
    align-items: stretch;
    gap: 1em;

    .link {
      align-self: center;
    }
  }
}

// Mobile Nav Menu

.nav-menu {
  // position
  display: none;
  position: absolute;
  top: 9em;
  right: 0;
  left: 50%;
  transform: translate(-50%);

  // bg
  background-color: var(--crl-text);
  border-radius: 0.65em;
  box-shadow: 5px 5px 15px #00000036;

  // size
  width: 90%;

  .links {
    margin: 2em;

    // display
    display: flex;
    flex-direction: column;

    // interaction
    a {
      color: var(--crl-heading);
      &:hover,
      &:active {
        font-weight: $fw-ov-600;
      }
      &:focus {
        font-weight: $fw-ov-600;
        outline: none;
        border-bottom: 2px solid var(--crl-heading);
      }
    }
  }
  .link {
    font-size: 1.25rem;
    &:last-child {
      margin-bottom: 1em;
    }
  }

  .drop-down_ {
    display: none;
  }
  .drop-down_.tree-down {
    display: block;
    // box style
    border-radius: 0;
    background-color: var(--crl-f-text);
    box-shadow: none;
    text-align: center;

    li {
      font-size: 1.2rem;
      width: 100%;
      margin-bottom: 0.3em;
    }
  }

  .button {
    margin: 2em;
    padding: 2em 0 0;
    border-top: 1px solid var(--crl-f-text);

    .btn {
      max-width: 140px;
      width: 100%;
      align-self: center;
      padding: 1.25em;
    }
    .btn:last-child {
      color: var(--crl-text);
      background: linear-gradient(
        45deg,
        var(--cta-mob-nav-100),
        var(--cta-mob-nav-200)
      );
      box-shadow: 5px 5px 15px #00000036;

      &:hover,
      &:active {
        color: var(--crl-text);
      }
      &:focus {
        color: var(--crl-text);
        background-color: var(--cta-hover);
        outline: none;
        border-bottom: 2px solid var(--cta-text);
      }
    }
    .btn:first-child {
      color: var(--crl-f-bg);
      background-color: transparent;
      box-shadow: 5px 5px 15px #00000036;

      &:hover,
      &:active {
        outline: none;
      }
      &:focus {
        outline: none;
        border-bottom: 2px solid var(--crl-text);
      }
    }
  }
}
.open {
  display: block;
}
