// font family
$ff-heading: "Poppins", sans-serif;
$ff-bc: "Open Sans", sans-serif;

// bg color
$crl-bg-hero: hsl(193, 100%, 96%);
$crl-bg-footer: hsl(192, 100%, 9%);
$crl-bg-cta: hsl(208, 11%, 55%);

// text color
$crl-accent: hsl(322, 100%, 66%);

// font size
$fs-body: 18px;

// font weight
$fw-heading: 600;

$fw-body-400: 400;
$fw-body-700: 700;

// max-width
$wid-desktop: 1440px;
$wid-mobile: 375px;
