@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
  --ff-primary: "Public Sans", sans-serif;
  --fs-body: 18px;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
  --crl-primary: hsl(233, 26%, 24%);
  --crl-accent-100: hsl(136, 65%, 51%);
  --crl-accent-200: hsl(192, 70%, 51%);
  --crl-neutral-100: hsl(233, 8%, 62%);
  --crl-neutral-200: hsl(220, 16%, 96%);
  --crl-neutral-300: hsl(0, 0%, 98%);
  --crl-neutral-400: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.font-weight-bold {
  font-weight: var(--fw-700);
}

.font-weight-regular {
  font-weight: var(--fw-400);
}

.font-weight-light {
  font-weight: var(--fw-300);
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

body {
  font-family: var(--ff-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2em;
  margin: 0;
  height: 60px;
  background-color: rgba(127, 204, 127, 0.303);
  justify-content: space-evenly;
}
.header .main-page-logo {
  padding: 0.5em;
}
.header .header-navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 2em;
  justify-content: space-evenly;
}
.header .header-navbar .nav-links .link {
  font-size: 13px;
  color: var(--crl-neutral-100);
  padding: 22px 0;
  border-bottom: 2px solid white;
  transition: border-bottom 0.2s;
}
.header .header-navbar .nav-links .link:hover {
  color: var(--crl-primary);
  border-bottom: 2px solid var(--crl-accent-100);
}
.header .button-container .header-button {
  border: none;
  color: rgb(255, 255, 255);
  font-size: 13px;
  padding: 0.75em 1.5em;
  border-radius: 2em;
  cursor: pointer;
  background: linear-gradient(45deg, var(--crl-accent-100), var(--crl-accent-200));
}/*# sourceMappingURL=style.css.map */