@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600;700&display=swap");
:root {
  --crl-primary-100: hsl(171, 66%, 44%);
  --crl-bottom-101: hsl(171, 64%, 36%);
  --crl-primary-200: hsl(233, 100%, 69%);
  --crl-bottom-201: hsl(233, 54%, 53%);
  --crl-neutral-100: hsl(210, 10%, 33%);
  --crl-neutral-200: hsl(203, 8%, 70%);
  --crl-neutral-300: hsla(0, 0%, 88%, 0.862);
  --fs-primary: 18px;
  --ff-primary: "Bai Jamjuree", sans-serif;
  --fw-primary-400: 400;
  --fw-primary-600: 600;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]),
li,
a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
  list-style: none;
  color: var(--crl-neutral-100);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.title-crl {
  color: var(--crl-neutral-100);
}

.description-crl {
  color: var(--crl-neutral-200);
}

.link-style {
  color: var(--crl-neutral-100);
}

.link-style:is(:hover, :focus) {
  color: var(--crl-primary-100);
}

.title-weight {
  font-weight: var(--fw-primary-600);
}

.description-weight {
  font-weight: var(--fw-primary-400);
}

.des-width {
  max-width: 250px;
}

@media (max-width: 30em) {
  .flex-column {
    flex-direction: column !important;
  }
}
.button {
  color: white;
  padding: 1em 3em;
  font-size: 16px;
  font-weight: var(--fw-primary-600);
  border-radius: 10em;
  border: none;
  cursor: pointer;
  min-width: 240px;
  margin-top: 0.5em;
}

.button:hover {
  opacity: 0.85;
}

body {
  display: flex;
  justify-content: center;
  font-family: var(--ff-primary);
  background-image: url(images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

@media (max-width: 30em) {
  body {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    border-bottom: 151px solid rgb(245, 245, 245);
  }
}
main {
  max-width: 1440px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.header {
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .header-info {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  line-height: 1;
}
.header .header-info .header-title-top {
  margin-bottom: 0.5em;
  font-size: 40px;
}
.header .header-info .header-description-top {
  margin-bottom: 1em;
}
.header .header-info .header-download-buttons {
  display: flex;
  padding: 0 1em;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}
.header .header-info .header-download-buttons .header-btn-ios {
  background-color: var(--crl-primary-100);
  border-bottom: 5px solid var(--crl-bottom-101);
}
.header .header-info .header-download-buttons .header-btn-max {
  border-bottom: 5px solid var(--crl-bottom-201);
  background-color: var(--crl-primary-200);
}
.header .header-des-section {
  max-width: 600px;
  padding: 1.5em;
  margin-top: 10em;
  margin-bottom: 4em;
}

@media (max-width: 45em) {
  .header .header-info {
    padding: 0 3em;
    gap: 1em;
  }
  .button {
    width: 100%;
  }
  .header .header-info .header-download-buttons {
    padding: 0;
  }
  .header .header-des-section {
    max-width: 600px;
    padding: 1.5em 2em;
    margin-top: 8em;
  }
}
.hero-section {
  margin-bottom: 9.2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
}
.hero-section .hero-section-img {
  padding: 1em;
  margin-left: -5%;
  transition: all 0.3s ease-in-out;
}
.hero-section .hero-section-img:hover {
  transform: scale(1.02);
}
.hero-section .hero-section-info {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 4em 0em;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 50em) {
  .hero-section {
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .hero-section .hero-section-img {
    margin-left: 0%;
    padding: 1em;
    transition: all 0.3s ease-in-out;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
  }
  .hero-section-info {
    gap: 0;
    padding: 2em 4em;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .hero-section-info .des-width {
    max-width: 300px;
  }
}
.central-image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.central-image-section .central-desc {
  max-width: 450px;
  margin-bottom: 2.5em;
}
.central-image-section .central-img {
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}
.central-image-section .central-img:hover {
  transform: scale(1.05);
}

@media (max-width: 30em) {
  .central-image-section .central-title {
    max-width: 200px;
  }
  .central-image-section .central-desc {
    max-width: 250px;
  }
}
.specs-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4em;
  margin: 2em;
  align-items: center;
  text-align: center;
}
.specs-section .specs-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.specs-section .specs-items .specs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  justify-content: center;
  text-align: center;
  max-width: 350px;
}
.specs-section .specs-items .specs-item .specs-section-items_info {
  padding: 0 2em;
}
.specs-section .specs-items .specs-item .specs-section-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}
.specs-section .specs-items .specs-item .specs-section-img img {
  width: 36px;
  height: 30px;
}

@media (max-width: 40em) {
  .specs-section .specs-items {
    flex-direction: column;
    padding: 1em;
  }
  .specs-section .specs-items .specs-section-items_info {
    padding: 0 1em;
  }
  .specs-section .specs-items .specs-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    justify-content: center;
    text-align: center;
    max-width: 350px;
  }
  .specs-section .specs-items .specs-item .specs-section-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
  }
  .specs-section .specs-items .specs-item .specs-section-img img {
    width: 36px;
    height: 30px;
  }
}
.logo-section {
  padding: 2.5em 1em;
  display: flex;
  gap: 2em;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo-section .logo-cards {
  padding: 1em;
}

@media (max-width: 40em) {
  .logo-section {
    flex-direction: column;
  }
}
.last-down-section {
  margin: 5em;
  display: flex;
  padding: 2em;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.last-down-section .header-info {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  line-height: 1;
}
.last-down-section .header-info .header-title-top {
  margin-bottom: 0.5em;
  font-size: 40px;
}
.last-down-section .header-info .header-description-top {
  margin-bottom: 1em;
}
.last-down-section .header-info .header-download-buttons {
  display: flex;
  padding: 0 1em;
  flex-direction: row;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}
.last-down-section .header-info .header-download-buttons .header-btn-ios {
  background-color: var(--crl-primary-100);
  border-bottom: 5px solid var(--crl-bottom-101);
}
.last-down-section .header-info .header-download-buttons .header-btn-max {
  border-bottom: 5px solid var(--crl-bottom-201);
  background-color: var(--crl-primary-200);
}
.last-down-section .header-des-section {
  max-width: 600px;
  padding: 1.5em;
  margin-top: 10em;
  margin-bottom: 4em;
}

.footer {
  width: 100%;
  height: 150px;
  margin-top: auto;
  padding: 0 10.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 245, 245);
  transition: all 0.3s ease-in-out;
}
.footer figure {
  width: 55px;
  height: 55px;
}
.footer .footer-menu {
  width: 51%;
  height: 85px;
  margin-left: 8.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.025rem;
  text-align: left;
}
.footer .footer-menu li {
  width: 33%;
  transition: all 0.2s ease-in-out;
}
.footer .footer-menu li a:hover {
  color: var(--crl-primary-100);
}

@media (max-width: 40em) {
  .footer {
    flex-direction: column;
  }
  .footer .footer-menu ul {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}/*# sourceMappingURL=style.css.map */