header {
  //   background-color: var(--neu-300);
  padding: 40px 0;

  button {
    outline: 2px solid var(--pri-100);
    color: var(--pri-100);
    background-color: var(--neu-300);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
      outline: 2px solid var(--neu-300);
      color: var(--neu-300);
      background-color: var(--pri-100);
    }
  }
}
