@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");

$ff-primary: "Plus Jakarta Sans", sans-serif;

$fw-500: 500;
$fw-800: 800;

$fs-para: 16px;

// Primary - colors
$crl-accent-red: hsl(1, 90%, 64%);
$crl-accent-blue: hsl(219, 85%, 26%);

// Neutral - colors
$neu-white: hsl(0, 0%, 100%);
$neu-vlg-blue: hsl(210, 60%, 98%);
$neu-lgb-1: hsl(211, 68%, 94%);
$neu-lgb-2: hsl(205, 33%, 90%);
$neu-g-blue: hsl(219, 14%, 63%);
$neu-d-gb: hsl(219, 12%, 42%);
$neu-vd-b: hsl(224, 21%, 14%);
