:root {
    //  colors (clr)
    --clr-primary-400: hsl(263, 55%, 52%);
    --clr-secondary-400: hsl(217, 19%, 35%);
    --clr-secondary-500: hsl(219, 29%, 14%);
    --clr-neutral-100: hsl(0 0% 100%);
    --clr-neutral-200: hsl(210 46% 95%);
    --clr-neutral-300: hsl(0 0% 81%);
    
    // font family (ff)
    --ff-primary: "Barlow Semi Condensed", sans-serif;

    //  font weight (fw)
    --fw-400: 500;
    --fw-700: 600;

    // font size (fs)
    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
/* Make images easier to work with */
img, picture {
    max-width: 100%;
    display: block;
}
  
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
font: inherit;
}

// utility 

.bg-color-primary-400 {
    background-color: var(--clr-primary-400);
}

.bg-color-secondary-400 {
    background-color: var(--clr-secondary-400);
}

.bg-color-secondary-500 {
    background-color: var(--clr-secondary-500);
}

.bg-neutral-100 {
    background: var(--clr-neutral-100);
  }
  
.text-neutral-100 {
    color: var(--clr-neutral-100);
  }

.text-secondary-400 {
    color: var(--clr-secondary-400);
  }

.border-primary-400 {
    border: 2px solid #a775f1;
  }
  


// body

body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  
        
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);

    background-color: var(--clr-neutral-200);
}

h1,
h2,
h3, p {
  font-weight: var(--fw-700);
}


.testimonial-grid {
    border-radius: .5rem;
    gap: 1.5rem;
    font-size: var(--fs-400);

    padding-block: 2rem;
    margin-inline: auto;
    width: min(95%, 70em);

    display: grid;
    gap: 1em;
    grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five';

        .testimonial:nth-child(1){
            grid-area: one;
        }
        .testimonial:nth-child(2){
            grid-area: two;
        }
        .testimonial:nth-child(3){
            grid-area: three;
        }
        .testimonial:nth-child(4){
            grid-area: four;
        }
        .testimonial:nth-child(5){
            grid-area: five;
        }

        .name {
            font-size: var(--fs-400);
            
        }
        
        p:nth-child(3) {
            margin-top: 2em;
        }


        .name {
            font-size: var(--fs-400);
            font-weight: var(--fw-400);
            line-height: 1;
          }

        .position {
            font-size: var(--fs-400);
            font-weight: var(--fw-400);
            opacity: 0.5;
        }
      

        .testimonial > p:first-of-type {
            font-size: var(--fs-500);
            line-height: 1.2;
        }

        .testimonial > p:last-of-type {
            font-size: var(--fs-300);
            font-weight: var(--fw-400);
            opacity: 0.7;
        }

}

.quote-container {
    background-image: url("./images/favicon-32x32.png");
}




.testimonial {
    padding: 2em;
    border-radius: 0.5rem;
    box-shadow: 2.5rem 3.75rem 3rem -3rem hsl(var(--clr-secondary-400) / 0.25);



    .flex {
        display: flex;
        margin-bottom: 1em;
        align-items: center;
        gap: 1em;

        .img img {
            border-radius: 50%;
            width: 1.75rem;
            aspect-ratio: 1;
        }
    }
}



@media (min-width: 600px){
    .testimonial-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        'one one two'
        'five five five'
        'three four four';
    }

   
}

@media (min-width: 900px){
    .testimonial-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        'one one two five'
        'three four four five';
    }
   
}
