@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// Width
$max-wid: 1440px;
$max-wid-m: 375px;

// Common  variables
$ff-primary: "Inter", sans-serif;

$fw-400: 400;
$fw-700: 700;

$fs-heading: 14px;

// Primary colors
$l-green: hsl(163, 72%, 41%);
$b-red: hsl(356, 69%, 56%);

// Social icons Colors
$s-crl-fb: hsl(208, 92%, 53%);
$s-crl-tw: hsl(203, 89%, 53%);
$s-crl-in: hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$s-crl-yt: hsl(348, 97%, 39%);

.dark-theme {
  --tob-bg: hsl(230, 17%, 14%);
  --bg: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --text-h: hsl(228, 34%, 66%);
  --text: hsl(0, 0%, 100%);

  //   toggle
  --toggle: hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
}

.light-theme {
  --tob-bg: hsl(0, 0%, 100%);
  --bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text-h: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);

  //   toggle
  --toggle: hsl(230, 22%, 74%);
}

.rainbow-theme {
  --tob-bg: red;
  --bg: orange;
  --card-bg: yellow;
  --text-h: green;
  --text: blue;

  //   toggle
  --toggle: red, orange, yellow, green, blue, indigo, purple;
}
