.header {
  background-image: url(../../images/desktop/image-hero.jpg);
  // height: 650px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include breakpoints-down(small) {
    background-image: url(../../images/mobile/image-hero.jpg);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    padding-inline: 160px;

    @include breakpoints-down(medium) {
      padding-inline: 25px;
    }

    .logo {
    }
    &__nav {
      margin-left: auto;
      ul {
        display: flex;
        align-items: center;
        gap: 30px;
      }
    }
  }

  &__intro {
    display: flex;
    align-items: center;
    padding-inline: 160px;
    padding-block: 120px;

    padding-inline: 160px;

    @include breakpoints-down(medium) {
      flex-direction: column;
      padding-inline: 25px;
    }

    &__left {
      max-width: clamp(515px, 25.75vw, 32.75vw);
      font-family: $ff-sec;
      color: var(--pri-light);
      font-size: clamp(1.5rem, 1.75rem, 2.75vw);
      h1 {
        text-transform: uppercase;
        line-height: 1.1;
        border: 2px solid white;
        padding: 35px;
      }
    }
  }
}
