.main {
  position: relative;

  &__container {
    max-width: 735px;
    border-radius: 10px;
    position: relative;
    transform: translateY(-100px);

    @include breakpoints-down(small) {
      transform: translateY(-55px);
    }
  }

  &__card {
    border-radius: 10px;
    text-align: center;
    padding: 40px;
    background-color: var(--bg-card);
    // backdrop-filter: blur(3px);
    margin-inline: 25px;
    box-shadow: 5px 5px 15px rgba(32, 32, 32, 0.173);
    transition: all 0.3s ease-in-out;

    @include breakpoints-down(small) {
      padding: 25px;
    }

    h1 {
      margin-bottom: 10px;
      font-size: 1.75rem;
      color: var(--text-200);
    }

    p {
      font-size: 1.05rem;
      margin-bottom: 40px;
      color: var(--text-300);
    }

    &__buttons {
      position: relative;

      .bookmarkParent {
        background-color: var(--bg);
        display: flex;
        align-items: center;
        border-radius: 5em;

        transition: all 0.3s ease-in-out;

        &:hover,
        &:active,
        &:focus {
          outline: none;
          circle {
            fill: var(--pri-200);
          }
          path {
            fill: var(--text-100);
          }

          div {
            color: var(--pri-200);
          }
        }
      }

      button,
      .bookmark {
        font-family: inherit;
        font-weight: $fw-700;
        color: var(--text-100);
        font-size: 1rem;
        border: none;
        outline: none;
        max-width: 200px;
        height: 56px;
        border-radius: 5em;
      }

      .bookmark {
        cursor: pointer;
        max-width: 115px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--neu-200);
        padding-inline: 20px;
        background-color: var(--bg);
        div {
          flex: 1;
        }
      }

      button {
        cursor: pointer;
        background-color: var(--pri-100);
        max-width: 200px;
        min-width: 150px;
        flex: 1;
        transition: all 0.3s ease-in-out;
        &:hover,
        &:active,
        &:focus {
          outline: none;
          background-color: var(--pri-200);
        }
      }

      div {
        height: 56px;
        svg {
          width: 56px;
          height: 56px;
        }
      }
    }

    .decor {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }

    .load-line {
      margin-top: 40px;
      height: 14px;
      background-color: var(--bg);
      border-radius: 10px;

      .in-line {
        height: 14px;
        max-width: 75%;
        border-radius: 10px;
        background-color: var(--pri-100);
      }
    }
  }
}

// flex
.flex-cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.numbers {
  display: flex;
  flex-direction: row;
  text-align: start;
  gap: 35px;

  @include breakpoints-down(small) {
    flex-direction: column;
    margin-inline: auto;
    text-align: center;
    max-width: min-content;
  }

  h1,
  p {
    margin-bottom: 0;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    @include breakpoints-down(small) {
      margin-bottom: 25px;
    }
  }
  .flex-num {
    flex: 1;

    &:not(:last-child) {
      border-right: 1px solid var(--bg-border);
      @include breakpoints-down(small) {
        border-right: none;
        border-bottom: 1px solid var(--bg-border);
      }
    }
  }
}

// Mark
.marked {
  transition: all 0.3s ease-in-out;

  circle {
    fill: var(--pri-200);
  }
  path {
    fill: var(--text-100);
  }

  .bookmark {
    color: var(--pri-200);
  }
}

.card-rd {
  text-align: left;
  h3 {
    margin-bottom: 21px;
    color: var(--text-200);

    @include breakpoints-down(small) {
      margin-bottom: 7px;
    }
  }

  p {
    font-size: 1rem;
  }
}

.in-card {
  border: 1px solid var(--bg-border);
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: start;
  cursor: pointer;
  color: var(--text-200);
  transition: all 0.3s ease-in-out;

  @include breakpoints-down(small) {
    p,
    .tag,
    h4 {
      margin-bottom: 20px;
    }
  }

  h4 {
    color: var(--pri-100);
    font-weight: $fw-500;
  }

  button {
    font-family: inherit;
    font-weight: $fw-700;
    color: var(--text-100);
    font-size: 0.85rem;
    border: none;
    outline: none;
    height: 45px;
    border-radius: 5em;

    cursor: pointer;
    background-color: var(--pri-100);
    max-width: 200px;
    min-width: 150px;
    transition: all 0.3s ease-in-out;
    &:hover,
    &:active,
    &:focus {
      outline: none;
      background-color: var(--pri-200);
    }

    @media (max-width: 300px) {
      min-width: 115px;
    }
  }
}

span {
  font-weight: $fw-400;
  font-size: 1rem;
  color: var(--text-300);
}

.done {
  --pri-100: hsl(0, 0%, 49%);
  --pri-200: hsl(0, 0%, 37%);
  opacity: 0.5;
}

.close {
  text-align: end;
}

// Selected
.selected {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: -550px;
  left: 0;
  right: 0;
}

.selected.on {
  height: 100%;
  transform: translateY(0%);

  scale: 1.05;
  visibility: visible;
  opacity: 1;
  position: absolute;
  top: -85px;
  z-index: 2;
  left: 0;
  right: 0;
  .main__card {
    p,
    .tag,
    h4 {
      margin-bottom: 0;
    }
    h3,
    p {
      margin: 0;
    }
    .title,
    .paragraph {
      margin-bottom: 20px;
    }
  }
  .in-card {
    cursor: pointer;
    &:focus,
    &:active,
    &:hover {
      border: 2px solid var(--pri-100);
    }
    &-top {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 7px;

      @include breakpoints-up(medium) {
        gap: 20px;
        .tag {
          margin-left: auto;
        }
      }
    }
    .enterPledge.on {
      transition: all 0.5s ease-in-out;
      margin-top: 30px;
      padding-top: 30px;
      height: 100%;
      opacity: 1;
      transform: translateY(0%);
    }
    &-bottom {
      border-top: 1px solid var(--bg-border);
      margin-top: 0;
      padding-top: 0;
      display: flex;
      height: 0;
      opacity: 0;
      align-items: center;
      gap: 15px;
      transform: translateY(-150%);

      .enter {
        margin-right: auto;

        h3 {
          font-weight: $fw-400;
          font-size: 1rem;
          color: var(--text-300);
        }
      }

      button {
        max-width: 100px;
        min-width: 100px;
        width: 100%;
      }

      input {
        font-family: inherit;
        font-weight: $fw-700;
        color: var(--text-200);
        font-size: 0.85rem;
        border: none;
        outline: none;
        max-width: 100px;
        width: 100%;
        height: 45px;
        border-radius: 5em;
        padding: 0 15px;
        border: 1px solid var(--text-300);

        &::placeholder {
          color: var(--text-200);
        }
      }
    }
  }
}
