.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $ff-body;
  color: $neutral-Cyan;
  &__article {
    display: flex;
    flex-direction: column;
    gap: 1.75em;
    padding: 1em;
    margin-bottom: 4em;
    &__heading {
      font-size: 25px;
      font-family: $ff-heading;

      @include breakpoint-up(small) {
        font-size: 35px;
      }
      @include breakpoint-up(large) {
        font-size: 40px;
      }
    }
    &__para {
      align-self: center;
      font-size: 14px;
      margin-bottom: 1em;
      @include breakpoint-up(small) {
        font-size: 18px;
        width: 525px;
      }
    }
    &__button {
      font-weight: $fw-b-600;
      min-width: 220px;
      border-radius: 5em;
      border: none;
      background-color: $crl-pink;
      color: white;
      padding: 0.95em 1em;
      align-self: center;

      @include breakpoint-down(xsmall) {
        min-width: 180px;
      }
      @include breakpoint-up(small) {
        font-size: 14px;
      }
      @include breakpoint-up(large) {
        padding: 1.3em 5em;
      }
    }
  }

  &__figure {
    margin-inline: auto;
    padding: 1em;

    &__illustration {
    }
  }
}
