// size's

$wid-desktop: 1440px;
$wid-mobile: 375px;

// Colors
$crl-pink: hsl(322, 100%, 66%); //
$crl-l-pink: hsl(321, 100%, 78%); //
$crl-l-red: hsl(0, 100%, 63%); //

// Neutral
$neutral-Cyan: hsl(192, 100%, 9%);
$neutral-Blue: hsl(207, 100%, 98%); //

// Heading Font
$ff-heading: "Poppins", sans-serif;
$fw-h-700: 700;

// Body Font
$ff-body: "Open Sans", sans-serif;
$fw-b-400: 400;
$fw-b-600: 600;
$fw-b-700: 700;
