@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


:root {
    --bg-primary:  hsl(212, 45%, 89%);
    --bg-secondary: hsl(0, 0%, 100%);

    --fc-primary: hsl(218, 44%, 22%);
    --fc-secondary: hsl(220, 15%, 55%);


    --fs-primary: 9px;


    --ff-primary: 'Outfit', sans-serif;
    
    --fw-primary: 700;
    --f1-secondary: 400;
}



body {
    margin: 0;
    padding: 100px;
    font-family: var(--ff-primary);

    background-color: var(--bg-primary);

    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    flex-wrap: wrap;



    .container {
        width: 220px;
        top: 0;
        padding: 0.75em;
        background-color: var(--bg-secondary);
        border-radius: 0.75em;
        box-shadow: 3rem 2.75rem 3rem -3rem rgb(143, 143, 143 / 0.25);
        margin-bottom: 120px;



        .qr-code img {
            width: 100%;
            border-radius: 0.75em;
        }

        .content {
            font-size: var(--fs-primary);
            padding: 0.75em;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            h1 {
                font-weight: var(--fw-primary);
                color: var(--fc-primary);
            }

            p {
                margin-top: 0;
                color: var(--fc-secondary);
                font-size: 13px;
            }
        }
    }
}


