// Reset
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  //   font-size: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
li,
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  margin-inline: auto;
  font-family: monospace;
  text-align: center;
  background-color: #31ffff17;
}

.section {
  text-align: center;
  font-family: monospace;
  font-size: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

.section_div {
  border: 1px dashed black;
  padding: 0.5em 2em;
  background-color: black;
  color: yellow;
  box-shadow: 8px 8px 0px yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  flex: 0;
}
.section_div-2 {
  border: 1px dashed yellow;
  padding: 0.5em 2em;
  background-color: purple;
  color: yellow;
  box-shadow: 8px 8px 0px rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
  flex: 0;
}

svg {
  width: 90px;
  cursor: pointer;
}

span {
  color: white;
  font-weight: normal;
}

.container {
  padding: 2em;
  margin: 1em;
}

.main {
  background-color: white;
  padding: 1em;
  margin: 4em 2em;
  margin-inline: auto;
  max-width: 450px;
  box-shadow: 25px 27px 25px rgb(195 195 195 / 34%);
  outline: 1px dashed yellow;
  &__header {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: black;
    box-shadow: 8px 8px 0px yellow;
    color: yellow;
    text-align: left;
    padding: 5px;

    p {
      align-self: flex-start;
      color: white;
    }
  }

  &__inputarea {
    display: flex;
    align-items: center;
    gap: 0.5em;
    background-color: black;
    box-shadow: 8px 8px 0px yellow;
    color: yellow;
    text-align: left;

    input {
      margin: 0.55em;
      padding: 5px;
      border: none;
      font-family: inherit;
    }

    &__intxt {
      outline: 1px solid yellow;
      width: -webkit-fill-available;
    }

    &__inbtn {
      outline: 1px solid yellow;
      cursor: pointer;
      background-color: yellow;
      font-weight: bold;

      &:hover {
        outline: 1px dashed yellow;
        background-color: black;
        color: yellow;
      }
    }
  }

  &__content {
    margin-top: 3em;
    text-align: left;
    padding: 0.5em;

    div {
      display: inline-block;
      padding: 0.5em;
      margin: 0.4em;
      background-color: black;
      box-shadow: 8px 8px 0px yellow;
      color: yellow;
    }
  }
}

.date {
  border: 1px dashed yellow;
  background-color: yellow;
  outline: none;
}

.new-input {
  width: 50%;
}
