// Reset the css
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  padding: 0;
  line-height: 1.5;
  font-size: $fs-med;
  font-family: $ff-primary;
  color: $crl-neutral-100;

  &.noscroll {
    overflow: hidden;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Utility classes
.font-weight-bold {
  font-weight: $fw-700;
}
.font-weight-regular {
  font-weight: $fw-400;
}
.font-weight-light {
  font-weight: $fw-300;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}
// Spacing
.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

// Flexbox
.flex {
  display: flex;

  &-fd-row {
    flex-direction: row;
  }
  &-fd-column {
    flex-direction: column;
  }

  &-jc-c {
    justify-content: center;
  }
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-se {
    justify-content: space-between;
  }

  &-ac-c {
    align-items: center;
  }
}

// Buttons
button {
  font-size: $fs-sm;
  font-weight: $fw-700;
  color: $crl-neutral-400;
  padding: 0.75rem 2.1875rem;
  background: linear-gradient(45deg, $crl-accent-100, $crl-accent-200);
  border: none;
  border-radius: 5em;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
button:hover {
  opacity: 0.75;
}
// Visibility
.hide-for-mobile {
  // hide for tablet and mobile devices
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  // hide for desktop browsers
  @include breakpoint-up(large) {
    display: none;
  }
}
