.header {
  // Hamburger open styles
  &.open {
    .overlay {
      visibility: visible;
    }
    .header__toggle {
      > span:first-child {
        transition: transform 0.5s ease-in;
        transform: rotate(45deg);
      }
      > span:nth-child(2) {
        transition: transform 0.5s ease-out;
        opacity: 0;
      }
      > span:last-child {
        transition: transform 0.5s ease-in;
        transform: rotate(-45deg);
      }
    }
  }

  nav {
    position: relative;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
    background-color: $crl-neutral-400;
  }
  &__logo {
    img {
      width: 8.8125rem;
      height: 1.375rem;
    }
  }

  &__toggle {
    > span {
      display: block;
      width: 22px;
      height: 3px;
      background-color: $crl-primary;
      opacity: 0.85;
      transform-origin: 1px 1px;
      transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;

      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }

  &__menu {
    background-color: $crl-neutral-400;
    padding: 1.625rem;
    border-radius: 5px;
    // background-color: rgba(192, 238, 192, 0.427);

    // position
    margin-top: 1.5rem;
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    transform: translate(-50%);
    a {
      display: block;
      color: $crl-primary;
      padding: 0.625rem;
      text-align: center;
      font-size: $fs-sm;
    }
  }

  &__links {
    a {
      font-size: $fs-sm;
      position: relative;
      transition: color 0.3s ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        height: 4px;
        left: 0;
        bottom: -30px;
        right: 0;
        background: linear-gradient(45deg, $crl-accent-100, $crl-accent-200);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
      &:hover {
        color: $crl-accent-100;
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $crl-primary;
  background: linear-gradient($crl-primary, transparent);
}
