.hero {
  background-color: $crl-neutral-300;

  .container {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
    }
  }

  &__image {
    position: relative;
    background-image: url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 17.5rem;

    @include breakpoint-up(large) {
      flex: 3;
      //   background-image: url(../images/bg-intro-desktop.svg);
      //   background-position: left center;
      order: 2;
      min-height: 41rem;
      background-image: none;
    }
    &::before {
      @include breakpoint-up(large) {
        content: "";
        position: absolute;
        height: 100%;
        background-image: url("../images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: center bottom;
        width: 150%;
        background-size: 122%;
        background-position: 0% 83%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("../images/image-mockups.png");
      background-size: 88%;
      background-repeat: no-repeat;
      background-position: center 89%;

      @include breakpoint-up(medium) {
        background-size: 52%;
      }

      @include breakpoint-up(large) {
        width: 120%;
        height: 122%;
        background-size: 94%;
        background-position: center 150%;
        left: 22%;
      }
    }
  }

  &__text {
    text-align: center;
    // margin-top: 2em;
    @include breakpoint-up(large) {
      flex: 2;
      order: 1;
      text-align: left;
    }
    h1 {
      line-height: 1.15;
      font-weight: $fw-400;
      color: $crl-primary;
      font-size: $fs-lar;
      margin-bottom: 1.5rem;

      @include breakpoint-up(large) {
        font-size: $fs-xlg;
      }
    }

    p {
      margin-bottom: 1.5rem;
      line-height: 1.3;
      font-size: $fs-sm;
      @include breakpoint-up(large) {
        font-size: $fs-med;
      }
    }
  }
}
