@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

$ff-primary: "Public Sans", sans-serif;

$fs-med: 18px;
$fs-sm: 14px;

$fw-300: 300;
$fw-400: 400;
$fw-700: 700;

$crl-primary: hsl(233, 26%, 24%);

$crl-accent-100: hsl(136, 65%, 51%);
$crl-accent-200: hsl(192, 70%, 51%);

$crl-neutral-100: hsl(233, 8%, 62%);
$crl-neutral-200: hsl(220, 16%, 96%);
$crl-neutral-300: hsl(0, 0%, 98%);
$crl-neutral-400: hsl(0, 0%, 100%);
