@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fade-in 0.5s ease-in forwards;
          animation: fade-in 0.5s ease-in forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 0.5s ease-in forwards;
          animation: fade-out 0.5s ease-in forwards;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  padding: 0;
  line-height: 1.5;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  color: hsl(233deg, 8%, 62%);
}
body.noscroll {
  overflow: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.font-weight-bold {
  font-weight: 700;
}

.font-weight-regular {
  font-weight: 400;
}

.font-weight-light {
  font-weight: 300;
}

a,
li {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}
.container--pall {
  padding-top: 4.375rem;
  padding-right: 1.5rem;
  padding-bottom: 4.375rem;
  padding-left: 1.5rem;
}
@media (min-width: 64em) {
  .container--pall {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--py {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--py {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.container--pt {
  padding-top: 4.375rem;
}
@media (min-width: 64em) {
  .container--pt {
    padding-top: 6rem;
  }
}
.container--pr {
  padding-right: 1.5rem;
}
.container--pb {
  padding-bottom: 4.375rem;
}
@media (min-width: 64em) {
  .container--pb {
    padding-bottom: 6rem;
  }
}
.container--pl {
  padding-left: 1.5rem;
}

.flex {
  display: flex;
}
.flex-fd-row {
  flex-direction: row;
}
.flex-fd-column {
  flex-direction: column;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-se {
  justify-content: space-between;
}
.flex-ac-c {
  align-items: center;
}

.button {
  font-size: 14px;
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  padding: 0.8rem 1.75rem;
  background: linear-gradient(45deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  border: none;
  border-radius: 5em;
  cursor: pointer;
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}

.button:hover {
  opacity: 0.75;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .overlay {
  visibility: visible;
}
.header.open .header__toggle > span:first-child {
  transition: transform 0.5s ease-in;
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  transition: transform 0.5s ease-out;
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transition: transform 0.5s ease-in;
  transform: rotate(-45deg);
}
.header nav {
  position: relative;
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  background-color: hsl(0deg, 0%, 100%);
}
.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}
.header__toggle > span {
  display: block;
  width: 22px;
  height: 3px;
  background-color: hsl(233deg, 26%, 24%);
  opacity: 0.85;
  transform-origin: 1px 1px;
  transition: opacity 0.5s ease-out, transform 0.5s ease-in-out;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 4px;
}
.header__menu {
  background-color: hsl(0deg, 0%, 100%);
  padding: 1.625rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  z-index: 99999;
  transform: translate(-50%);
}
.header__menu a {
  display: block;
  color: hsl(233deg, 26%, 24%);
  padding: 0.625rem;
  text-align: center;
  font-size: 14px;
}
.header__links a {
  font-size: 14px;
  position: relative;
  transition: color 0.3s ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 32px;
}
.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  left: 0;
  bottom: -30px;
  right: 0;
  background: linear-gradient(45deg, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.header__links a:hover {
  color: hsl(136deg, 65%, 51%);
}
.header__links a:hover::before {
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(233deg, 26%, 24%);
  background: linear-gradient(hsl(233deg, 26%, 24%), transparent);
}

.hero {
  background-color: hsl(0deg, 0%, 98%);
}
@media (min-width: 64em) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}
.hero__image {
  position: relative;
  background-image: url(../images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 17.5rem;
}
@media (min-width: 64em) {
  .hero__image {
    flex: 3;
    order: 2;
    min-height: 41rem;
    background-image: none;
  }
}
@media (min-width: 64em) {
  .hero__image::before {
    content: "";
    position: absolute;
    height: 100%;
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    width: 150%;
    background-size: 122%;
    background-position: 0% 83%;
  }
}
.hero__image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/image-mockups.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
@media (min-width: 40em) {
  .hero__image::after {
    background-size: 52%;
  }
}
@media (min-width: 64em) {
  .hero__image::after {
    width: 120%;
    height: 122%;
    background-size: 94%;
    background-position: center 150%;
    left: 22%;
  }
}
.hero__text {
  text-align: center;
}
@media (min-width: 64em) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
  }
}
.hero__text h1 {
  line-height: 1.15;
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
  font-size: 37px;
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  .hero__text h1 {
    font-size: 52px;
  }
}
.hero__text p {
  margin-bottom: 1.5rem;
  line-height: 1.3;
  font-size: 14px;
}
@media (min-width: 64em) {
  .hero__text p {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */