@import url("https://fonts.googleapis.com/css?family=Merriweather:300,900|Six+Caps");



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


body {
  font-family: "Merriweather", serif;
  font-size: 1rem;
  font-weight: 300;
  color: #252525;
  line-height: 1.6;
  display: grid;
  
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

header, .contact-section {
  background: #252525;
  color: #e9d20f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title, .contact-section-header h2 {
  font-family: "Six Caps", sans-serif;
  font-size: 2.875rem;
  color: #e9d20f;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

.hero {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/308367/gridarea-hero-bg.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.hero-title {
  font-family: "Six Caps", sans-serif;
  font-size: 6rem;
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0;
}

.hero-subtitle {
  font-family: "Merriweather", serif;
  font-size: 2.875rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
  font-size: 20px;
  text-align: center;
}


// Nav bar
nav {
    position: fixed;
    border: 1px dashed yellow;
    padding: 5px;
    background-color: white;
    width: 98%;
    text-align: end;
    a {
        padding: 5px;
        text-decoration: none;
        margin-left: 30px;
        font-size: 14px;
        color: black;
    }

    a:hover{
        transform: scale(1.05);
        font-weight: 900;
        color: #e9d20f;
    }
}


.contact-section {
    margin-top: 150px;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;    
    height: 450px;

    .contact-section-header {
        padding: 10px;
        flex-direction: column;
        width: 100%;
    }

    .contact-links {
        padding: 10px;

        
    }
}


a {
  text-decoration: none;
  font-size: 14px;
  color: white;
}


.projects-section-header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.projects-section {
    margin: 15px;
    padding: 15px;
    width: 900px;
    margin-left: 170px;
    justify-content: center;

    .projects-grid{
        display: grid;
        gap: 2em;
        grid-template-columns: repeat(3, 1fr);
    }

    .project_ {    
        border: 1px solid rgba(119, 119, 119, 0.551);
        
        p {
          align-items: baseline;
          color: black;
        }
    }
    
    .project-image {
        width: 100%;
    }
}

.project-title {
    margin: 10px;
    font-size: 12px;
}

@media (min-width: 15em) {

    .project-grid {
        grid-template-columns: repeat(1, 1fr);
      
    }
  
}