@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

$ff-primary: "Libre Franklin", sans-serif;

$fw-300: 300;
$fw-600: 600;
$fw-700: 700;

$fs-primary: 20px;

// Colors

$crl-accent: hsl(223, 87%, 63%);

$crl-pb: hsl(223, 100%, 88%);
$crl-lr: hsl(354, 100%, 66%);

$crl-gray: hsl(0, 0%, 59%);
$crl-vd-blue: hsl(209, 33%, 12%);
