.main {
  &-container {
    padding: 25px;
    background-color: var(--white);
    border-radius: 25px;
    max-width: 920px;
    width: 100%;
    margin-inline: auto;
    gap: 20px;
    box-shadow: 5px 5px 15px #00000017;
    &__left {
      flex: 1;
      margin: 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p {
        margin-bottom: 5px;
        color: var(--neu-200);
      }
      input {
        background-color: var(--neu-500);
        border-radius: 5px;
        padding: 10px;
        outline: none;
        border: none;
        font-family: $ff-primary;
        color: var(--neu-left-bg);
        &::placeholder {
          font-family: $ff-primary;
          font-size: 1.25rem;
          color: var(--neu-300);
        }

        &:focus {
          outline: 3px solid var(--accent);
        }
      }

      .tip-btn {
        background-color: var(--neu-left-bg);
        font-family: $ff-primary;
        color: var(--white);
        font-size: 1.25rem;
        border: none;
        padding: 10px 20px;
        width: 100%;
        border-radius: 5px;
        flex: 1;
      }
      .tip-input {
        background-color: var(--neu-500);
        flex: 1;

        font-family: $ff-primary;
        color: var(--neu-left-bg);
        font-size: 1.25rem;
        border: none;
        width: 100%;
        border-radius: 5px;

        &::placeholder {
          text-align: center;
        }
      }

      .people {
        position: relative;
        .person {
          position: absolute;
          left: 18px;
          bottom: 18px;
        }
      }
      .bill {
        position: relative;
        .dollar {
          position: absolute;
          left: 18px;
          bottom: 15px;
        }
      }

      .top {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

        gap: 15px;
        margin-bottom: 15px;
      }
      .people-Input,
      .bill-Input {
        font-size: 1.25rem;
        padding: 10px 20px 10px 50px;
        width: 100%;
      }
    }
    &__right {
      flex: 1;
      border-radius: 15px;
      padding: 40px;
      background-color: var(--neu-left-bg);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      gap: 30px;

      @include breakpoints-down(medium) {
        gap: 10px;
      }

      .middle {
        margin-bottom: 50px;
      }
      p:first-of-type {
        color: var(--white);
      }
      p {
        color: var(--neu-200);
      }

      h1 {
        color: var(--accent);
        font-size: 2.5rem;
      }

      .buttom {
        button {
          width: 100%;
          height: 50px;
          border: none;
          color: var(--neu-left-bg);
          outline: none;
          background-color: var(--accent);
          font-family: inherit;
          font-size: 1.25rem;
          border-radius: 5px;
        }
      }
    }
  }
}

.flex-out {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Logo */
.header {
  text-align: center;
  margin-bottom: 85px;
  margin-top: 40px;

  @include breakpoints-down(medium) {
    margin-bottom: 5px;
    margin-top: 15px;
  }
}
