@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

// Width
$max-wid: 1440px;
$max-wid-m: 375px;

// Common  variables
$ff-primary: "Inter", sans-serif;

$fw-400: 400;
$fw-700: 700;

$fs-heading: 14px;

// Primary colors
$l-green: hsl(163, 72%, 41%);
$b-red: hsl(356, 69%, 56%);

// Social icons Colors
$s-crl-fb: hsl(208, 92%, 53%);
$s-crl-tw: hsl(203, 89%, 53%);
$s-crl-in: #fcc469 to rgb(223, 73, 150);
$s-crl-yt: hsl(348, 97%, 39%);

.dark-theme {
  --tob-bg: hsl(230, 17%, 14%);
  --bg: hsl(232, 19%, 15%);
  --card-bg: hsl(228, 28%, 20%);
  --card-hf: hsl(229, 27%, 37%);
  --text-h: hsla(228, 34%, 66%, 0.462);
  --text: hsl(0, 0%, 100%);

  //   toggle
  --toggle: hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

  // shadow
  .card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.109);
  }

  .card.instagram-br {
    transition: background 0.8s ease-in-out;
    &:hover,
    &:focus {
      .tag,
      .insta {
        color: var(--bg);
      }
    }
  }
}

.light-theme {
  --tob-bg: hsl(0, 0%, 100%);
  --bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --card-hf: hsl(227, 63%, 88%);
  --text-h: hsl(228, 12%, 44%);
  --text: hsl(230, 17%, 14%);

  //   toggle
  --toggle: hsl(230, 22%, 74%);

  // shadow
  .card {
    box-shadow: 5px 5px 10px rgba(40, 40, 40, 0.109);
  }
}

.rainbow-theme {
  --tob-bg: #121212;
  --bg: #95b46a;
  --card-bg: #709255;
  --card-hf: #3e5622;
  --text-h: #172815;
  --text: #83781b;

  //   toggle
  --toggle: red, orange, yellow, green, blue, indigo, purple;
  .card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.109);
  }
  .card.instagram-br {
    transition: background 0.8s ease-in-out;
    &:hover,
    &:focus {
      .tag,
      .insta {
        color: var(--text-h);
      }
    }
  }
}

.blue-theme {
  --tob-bg: #121212;
  --bg: #1a1d27;
  --card-bg: #1e2749;
  --card-hf: #273469;
  --text-h: #9c9c9c;
  --text: #fafaff;

  //   toggle
  --toggle: red, orange, yellow, green, blue, indigo, purple;
  .card {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.109);
  }
  .card.instagram-br {
    transition: background 0.8s ease-in-out;
    &:hover,
    &:focus {
      .tag,
      .insta {
        color: var(--text-h);
      }
    }
  }
}
