.main {
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @include breakpoints-down(small) {
      flex-direction: column;
      gap: 1em;
    }
    // left
    &__left {
      margin-right: auto;
      width: 100%;
    }
    // right
    &__right {
      @include breakpoints-up(medium) {
        margin-right: 15rem;
      }
      margin: 0.5em;
      padding: 0.5em;
      &__form {
        display: flex;
        flex-direction: column;
        gap: 1em;

        max-width: 600px;
        width: 100%;

        .form-item {
          label {
            letter-spacing: 1px;
            font-size: 0.75rem;
            align-self: flex-start;
          }
          input {
            align-self: flex-start;
            padding: 0.75em;
            width: 100%;
            border-radius: 0.5em;
            border: 1px solid var(--lg-violet);
            outline: none;

            font-family: $ff-primary;
            font-size: 1rem;
            font-weight: $fw-500;
            &::placeholder {
              font-family: $ff-primary;
              font-size: 1rem;
              font-weight: $fw-500;
              color: var(--lb-violet);
            }
            cursor: pointer;

            &:hover,
            &:focus {
              border-radius: 0.5em;
              border: 1px solid;
              border-image: linear-gradient(
                  45deg,
                  var(--active-b-from),
                  var(--active-b-to)
                )
                2;
            }
          }

          .date {
            display: flex;
            flex-direction: column;
            align-items: center;

            .labels {
              width: 100%;
              display: flex;
              flex-direction: row;
              gap: 2.5em;
              margin-right: auto;
            }
            &-inputs {
              display: flex;
              flex-direction: row;
              .expday {
                width: 30%;
                margin-right: 1em;
              }
              .expyear {
                width: 30%;
                margin-right: 2em;
              }
            }
          }
        }
      }
      &__btn {
        margin-top: 1em;
        width: 100%;
        padding: 1em;

        border: none;
        outline: 1px solid transparent;

        font-size: 1rem;
        color: var(--main);
        border-radius: 0.5em;
        font-weight: $fw-500;
        cursor: pointer;

        background-color: var(--crl-main);
      }
    }
  }
}
