.container {
  max-width: 1440px;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;

  @include breakpoints-down(small) {
    flex-direction: column;
  }

  &:before {
    content: "";
    background-image: url(../../images/bg-main-desktop.png);
    background-size: cover;
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    transition: width 0.35s ease-in-out, height 0.35s ease-in-out;

    @include breakpoints-down(small) {
      content: "";

      background-image: url(../../images/bg-main-mobile.png);
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
      height: 100%;
      width: 100%;
      z-index: -10;
    }
  }
}

.cards {
  width: 54%;
  @include breakpoints-down(small) {
    width: 100%;
  }
}

.main {
  width: 46%;
  overflow: hidden;
  padding: 1em;
  animation: slide-down 1s linear;

  @include breakpoints-down(small) {
    width: 100%;
    animation: slide-up 1s linear;
  }

  .cardform {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin: 0.5em;

    @include breakpoints-up(medium) {
      max-width: 400px;
    }
    label {
      display: flex;
      flex-direction: column;
      gap: 0.15em;
      font-size: 0.75rem;
      input {
        font-family: $ff-primary;
        font-size: 1rem;
        font-weight: $fw-500;
        margin-top: 0.5em;
        padding: 0.7em;
        border-radius: 0.5em;
        border: none;
        outline: 1px solid var(--lg-violet);

        &::placeholder {
          color: var(--lg-violet);
          font-family: inherit;
          font-size: 1rem;
          font-weight: inherit;
        }
      }
    }

    .card-date {
      display: flex;
      align-items: center;

      label {
        div {
          gap: 1em;
          display: flex;
          margin-right: 2em;
        }

        .error {
          margin-top: 0.25rem;
        }
      }
      .cardmm,
      .cvc {
        width: 50%;

        div input {
          width: 100%;
        }
      }

      .cvc {
        .error {
          text-align: end;
        }
      }
    }
  }
  .cardbtn {
    margin-top: 1em;
    padding: 0.8em;
    border-radius: 0.5em;
    border: none;
    outline: 2px solid transparent;

    font-size: 1rem;
    cursor: pointer;
    font-family: inherit;
    font-weight: $fw-500;
    color: var(--main);
    background-color: var(--crl-main);
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: var(--crl-main2);
      outline: 2px solid var(--crl-main);
      color: var(--crl-main);
    }
  }
}

//  error style
.error {
  margin-top: -0.25rem;
  color: var(--crl-er);
  font-size: 0.75rem;
  animation: slide-right 1s linear;
}

.hidden {
  display: none;
}
