@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],li,a,
ol[role="list"] {
  list-style: none;
  text-decoration: none;
  color: black;
  font-weight: 300;
}



body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Pacifico', cursive; */
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    padding: 5px;
}

.navbar-container {
    border: 1px dashed black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    border: 1px dashed green;
    height: 75px;
    width: 75px;
    display: inline-block;
}
.logo h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: 900;
    opacity: 0.5;
}

.links a {
    margin-left: 35px;
    font-size: 14px;
}

.links a:hover {
    font-weight: 500;
}





















.grid-container {
    padding-block: 2rem;
    width: min(95%, 70rem);
    margin-inline: auto;
    
    display: grid;
    gap: 1.5rem;


    grid-template-areas: 
        'one'
        'two'
        'three'
        'four'
        'five'
        'six'
        'seven'
        'eight'
        'nine';
}



.grid-item {
    padding: 2em;
    border: 1px dashed black;
    border-radius: .1rem;
    box-shadow: 2em 2.75em 2.3em rgba(116, 114, 114, 0.095);
}


.grid-item:nth-child(1) {
    background-color: rgba(0, 255, 72, 0.207);
    grid-area: one;
}
.grid-item:nth-child(2) {
    background-color: rgba(255, 238, 0, 0.207);
    grid-area: two;
}
.grid-item:nth-child(3) {
    background-color: rgba(255, 0, 166, 0.207);
    grid-area: three;
}
.grid-item:nth-child(4) {
    background-color: rgba(255, 162, 0, 0.207);
    grid-area: four;
}
.grid-item:nth-child(5) {
    background-color: rgba(38, 0, 255, 0.207);
    grid-area: five;
}
.grid-item:nth-child(6) {
    background-color: rgba(0, 106, 255, 0.207);
    grid-area: six;
}
.grid-item:nth-child(7) {
    background-color: rgba(0, 255, 213, 0.207);
    grid-area: seven;
}
.grid-item:nth-child(8) {
    background-color: rgba(255, 0, 0, 0.207);
    grid-area: eight;
}
.grid-item:nth-child(9) {
    background-color: rgba(89, 255, 0, 0.207);
    grid-area: nine;
}


@media (min-width: 15em) {
    .grid-container {
        grid-template-areas: 
        'one two'
        'one three'
        'four five'
        'six six'
        'seven eight'
        'seven nine';
    }
}


@media (min-width: 30em) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        'one one two'
        'three four four'
        'five six seven'
        'five eight seven'
        'nine nine nine'
        ;
    }
}

@media (min-width: 50em) {
    .grid-container {
        grid-auto-columns: 1fr;
        grid-template-areas: 
        'one one two three'
        'four five five three'
        'six six six seven'
        'eight nine nine seven'
        ;
    }
}