body {
    padding: 10px;
    margin: 10px;

    background: repeating-linear-gradient(
        45deg,
        yellow 0px,
        yellow 40px,
        black 40px,
        black 80px
      );

    background-repeat: no-repeat;
    background-size: contain;

}

