.main {
  position: relative;
  margin-top: 2.5em;
  margin-bottom: 5em;
  padding: 4.5em;
  @include breakpoint-down(medium) {
    padding: 2em;
    margin-bottom: 10em;
  }
  &__container {
    max-width: 1100px;
    display: flex;
    margin-bottom: 2.5em;
    flex-direction: row;
    gap: 9em;
    align-items: center;
    justify-content: space-between;
    border-radius: 1em;
    box-shadow: 0px 9px 25px #cbcbcb67;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }
    @include breakpoint-down(medium) {
      flex-direction: column;
      padding: 1em;
      gap: 2.5em;
      border-radius: 0.75em;
    }
  }

  &__article {
    max-width: 450px;
    @include breakpoint-down(medium) {
      font-size: 20px;
      text-align: center;
      padding: 0.5em;
    }
  }
  &__heading {
    font-family: $ff-heading;
    font-size: 25px;
    max-width: 450px;
    margin-bottom: 0.75em;
    @include breakpoint-down(medium) {
      font-size: 20px;
      margin-bottom: 0em;
    }
  }
  &__para {
    opacity: 0.85;
    max-width: 375px;
    @include breakpoint-down(medium) {
      font-size: 14px;
      padding: 1em 0;
    }
  }
  &__figure {
    border-radius: 1em;
    padding: 1em;
    img {
      width: 385px;
    }
  }
}

.invert {
  @include breakpoint-down(medium) {
    font-size: 14px;
    max-width: auto;

    article {
      order: 2;
    }

    figure {
      order: 1;
    }
  }
}

// Main Plus
.main-plus {
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 90%;
  margin-top: 4em;
  @include breakpoint-down(medium) {
    top: 95%;
  }
  @include breakpoint-up(medium) {
    top: 97%;
  }
  @include breakpoint-up(large) {
    top: 90%;
  }
  .main-plus-container {
    background-color: red;
    padding: 2em 4em;
    margin-inline: auto;
    gap: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 9px 25px #74707086;
    text-align: center;
    border-radius: 0.5em;

    @include breakpoint-down(small) {
    }

    &__heading {
      font-weight: $fw-body-700;
      min-width: 220px;
      @include breakpoint-down(medium) {
        font-size: 20px;
      }
    }

    &__button {
      border: none;
      color: white;
      font-weight: $fw-body-700;
      background-color: $crl-accent;
      padding: 1.3em 4em;
      border-radius: 5em;
      @include breakpoint-down(medium) {
        padding: 1.3em 3em;
        align-self: center;
      }
    }
  }
}
