.hero {
  margin-bottom: 10em;

  @include breakpoint-up(large) {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  &__figure {
    margin-bottom: 2em;
    @include breakpoint-up(medium) {
      order: 2;
      width: 120%;
      max-width: 740px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    gap: 1.5em;
    flex-direction: column;
    font-family: $ff-body;
    font-size: 16px;
    text-align: center;

    @include breakpoint-up(large) {
      padding-right: 0.5em;
      text-align: left;
    }
    @include breakpoint-up(medium) {
      padding-right: 0.5em;
      justify-content: center;
    }

    &__head {
      color: $crl-dark-blue;
      font-family: $ff-heading;
      font-size: 25px;
      @include breakpoint-up(medium) {
        font-size: 35px;
      }
    }

    &__para {
      color: $crl-dark-blue;
      @include breakpoint-up(medium) {
        font-size: 18px;
      }
    }
    &__input {
      display: flex;
      flex-direction: column;
      gap: 0.75em;

      @include breakpoint-up(small) {
        justify-content: center;
      }

      @include breakpoint-up(medium) {
        flex-direction: row;
        justify-content: center;
      }
      @include breakpoint-up(large) {
        flex-direction: row;
        justify-content: left;
      }
      &__email {
        border: 1px solid gray;
        border-radius: 0.3em;
        padding: 1em;
        &::placeholder {
          opacity: 0.5;
        }
        &:focus {
          border: 1px solid white;
          outline: 1px solid $acc-bright-blue;
        }
        @include breakpoint-up(medium) {
          width: 300px;
        }
      }
      &__button {
        color: white;
        border-radius: 0.3em;
        border: none;
        background-color: $acc-bright-blue;
        padding: 1em;
        font-weight: $fw-h-700;
        @include breakpoint-up(medium) {
          padding: 1em 4em;
        }
      }
    }
  }
}
