/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
li,
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.main-container {
  margin-inline: auto;
  max-width: 1440px;
  max-height: 2335px;
}
@media (max-width: 39.9375em) {
  .main-container {
    max-width: 750px;
    max-height: 5668px;
  }
}

.container {
  padding: 3em 4em;
}
@media (max-width: 39.9375em) {
  .container {
    padding: 2em 2em;
  }
}
.container__x {
  padding: 0 4em;
}
@media (max-width: 39.9375em) {
  .container__x {
    padding: 2em 2em;
  }
}
.container__y {
  padding: 3em 0;
}

a,
li {
  text-decoration: none;
  color: hsl(243deg, 87%, 12%);
}

.header {
  font-family: " Open Sans", sans-serif;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}
@media (max-width: 350px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 39.9375em) {
  .header__logo img {
    width: 100px;
  }
}
.header__nav-links {
  display: flex;
  flex-direction: row;
  gap: 2.5em;
}
@media (max-width: 39.9375em) {
  .header__nav-links {
    font-size: 13px;
    gap: 1.5em;
  }
}

@media (min-width: 40em) {
  .hero {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.hero__figure {
  margin-bottom: 1em;
}
@media (min-width: 40em) {
  .hero__figure {
    order: 2;
    width: 120%;
  }
}
.hero__content {
  display: flex;
  gap: 1em;
  flex-direction: column;
  font-family: " Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
}
@media (min-width: 40em) {
  .hero__content {
    padding-right: 0.5em;
    text-align: left;
  }
}
.hero__content__head {
  color: hsl(243deg, 87%, 12%);
  font-family: "Raleway ", sans-serif;
  font-size: 25px;
}
@media (min-width: 40em) {
  .hero__content__head {
    font-size: 35px;
  }
}
.hero__content__para {
  color: hsl(243deg, 87%, 12%);
}
@media (min-width: 40em) {
  .hero__content__para {
    font-size: 18px;
  }
}
.hero__content__input {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
@media (min-width: 40em) {
  .hero__content__input {
    flex-direction: row;
  }
}
.hero__content__input__email {
  border: 1px solid gray;
  outline: none;
  border-radius: 0.3em;
  padding: 1em;
}
@media (min-width: 40em) {
  .hero__content__input__email {
    width: 300px;
  }
}
.hero__content__input__button {
  color: white;
  border-radius: 0.3em;
  border: none;
  background-color: hsl(224deg, 93%, 58%);
  padding: 1em;
  font-weight: 700;
}
@media (min-width: 40em) {
  .hero__content__input__button {
    padding: 1em 4em;
  }
}/*# sourceMappingURL=style.css.map */